[2018-03-20 08:27] Mandrewoid opened #6 "Wheel targeting python 3"
Thanks for the heads up about the release @sunway513 I think a high % of users would agree with me, a build for python3 is important. I'll try and give it a shot and build from source myself but I won't be able to get to it until later this week, probably Friday.

In the meantime, for whoever does the building that is hosted in: http://repo.radeon.com/rocm/misc/tensorflow/
Is the reason only the p

[2018-03-20 18:04] zgu153522 opened #7 "Can't load tensorflow runtime"
On Ubuntu 16.04, with ROCm 1.7.1 installed, I ran through tensorflow install instructions but then found a problem with importing tensorflow and libhipfft.so:

 python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 24, in <module>

[2018-03-20 18:12] sunway513 commented on #7
Hi @zgu153522 , please try to build and install hcfft manually:
[code]

[2018-03-20 18:13] whchung commented on #7
We are working on getting rid of the dependency to `hcfft` now. Should be ready in the next couple of days.

[2018-03-20 18:52] zgu153522 commented on #7
@sunway513 I installed hcfft manually and now there's another dependency:

python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/usr/local/lib/python2.7/dist-packages/tens

[2018-03-20 18:55] sunway513 commented on #7
What's the output of the following command?
`apt --installed list | grep rocblas`

[2018-03-20 18:59] zgu153522 commented on #7
@sunway513
apt --installed list | grep rocblas

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

rocblas/Ubuntu 16.04,now 0.12.0.0 amd64 [installed,automatic]

[2018-03-20 19:26] sunway513 commented on #7
Thanks @zgu153522 , could you try our pre-built [docker image](https://hub.docker.com/r/rocm/tensorflow/) and see if that can work?

The rocblas version installed should be correct, but I could not reproduce your issue locally.
If the docker image can work, you will then be able to do a side by side comparison to figure out the configuration issues on your bare metal setup.

[2018-03-20 20:57] zgu153522 commented on #7
@sunway513 I get:
sudo docker run -it --device=/dev/kfd --device=/dev/dri --group-add video rocm/tensorflow
root@3d702f7bf730:/root/tensorflow# python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "tensorflow/py

[2018-03-20 21:00] sclarkson commented on #7
@zgu153522 You need to change directories. Go up a level.

https://stackoverflow.com/questions/35953210/error-running-basic-tensorflow-example

[2018-03-20 21:07] zgu153522 commented on #7
Thanks, it's now working in the docker.  Any instructions to do the side-by-side comparison to figure out what's wrong with my bare metal setup?

[2018-03-20 21:32] boxerab opened #9 "type in README.md : a docker cotainer"

[2018-03-20 21:35] sunway513 commented on #9
Don't quite get your issue here -- if any gramma you would like to correct, please submit a PR instead of an issue, thanks.

[2018-03-20 21:35] #9 closed

[2018-03-20 21:44] boxerab commented on #9
Please don't close the issue before I can respond.  There is a simple typo in the readme.
container is mis-spelled as cotainer.

[2018-03-20 21:45] boxerab commented on #7
I am getting the same error, by the way.

[2018-03-20 21:47] sunway513 commented on #7
@boxerab did you build and install hcfft from source?

[2018-03-20 21:47] boxerab commented on #7
no I didn't.  I am using 1.7.1 RC 4 .deb packages.

[2018-03-20 21:49] sunway513 commented on #7
Please upgrade your ROCm environment to ROCm1.7.1, and follow exact steps listed here:
`https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/rocm_docs/tensorflow-install-basic.md`

[2018-03-20 21:50] boxerab commented on #7
If I run `sudo apt update` will I get 1.7.1 ?

[2018-03-20 21:51] sunway513 commented on #7
@boxerab , here's the document for upgrade:
`https://github.com/RadeonOpenCompute/ROCm#installing-from-amd-rocm-repositories`

[2018-03-20 22:01] sunway513 commented on #7
@zgu153522 , thanks for updating.
If docker contain can work, it means you have issues with your user bits configurations.

For such issue, I would recommend you start by comparing the following software versions between docker and bare metal:
`apt --installed list | grep 'rocm\|hsa\| hip\|miopen\|rocblas\|rocrand'`

[2018-03-20 22:03] sunway513 commented on #9
Thanks @boxerab , I've submitted a PR to fix it.

[2018-03-20 22:17] zgu153522 commented on #7
Suspicious discrepancy:
Bare metal:
rocblas/now 0.12.0.0 amd64 [installed,local]
rocm-clang-ocl/now 0.2.0-83527dd amd64 [installed,local]

Docker:
rocblas/now 0.10.4.15 amd64 [installed,local]
rocm-clang-ocl/now 0.3.0-c1b678e amd64 [installed,local]

Also the docker doesn't have rocm-dkms

[2018-03-20 22:27] boxerab commented on #9
cool.

[2018-03-20 22:28] boxerab commented on #7
@sunway513  thanks, it looks like it is working now that I built hcfft from source.

BTW, tensorflow 1.3 only works with python 2.x. Is that correct ? Doesn't work with python 3 ?

[2018-03-20 23:53] whchung commented on #6
@Mandrewoid I've made a commit to build wheel for python3
https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/build_python3

actual wheel files would be uploaded after validation

[2018-03-21 00:14] sunway513 commented on #7
@zgu153522 , we just have refreshed the docker image, please pull it and compare again:
`sudo docker pull rocm/hiptensorflow:rocm1.7.1`

[2018-03-21 02:49] zgu153522 commented on #7
@sunway513
Discrepancies:
Bare metal:
hsakmt-rocm-dev/now 2.0.0 amd64 [installed,local]
rocm-clang-ocl/now 0.2.0-83527dd amd64 [installed,local]
rocm-dkms/now 1.7.137 amd64 [installed,local]
rocm-smi/now 1.0.1 amd64 [installed,local]

Docker:
rocm-clang-ocl/now 0.3.0-c1b678e amd64 [installed,local]
rocm-smi/now 1.0.0-38-g3fe4e0c amd64 [installed,local]

I did update of rocm-clang-ocl to 0.3.0 but

[2018-03-21 02:58] sclarkson commented on #7
Run `ldconfig -p | grep hip_hcc`. If that shows nothing, try running `apt-get install --reinstall hip_hcc`

[2018-03-21 03:54] zgu153522 commented on #7
@sclarkson
ldconfig -p | grep hip_hcc
        libhip_hcc.so (libc6,x86-64) => /opt/rocm/lib/libhip_hcc.so

[2018-03-21 13:22] boxerab opened #11 "How can I install in anaconda virtual environment ?"
I got this working on ubuntu 16 with rocm 1.7.1 rc 7, with python2.
But, when I create a virtual anaconda environment with python 2, tensorflow is not found.
Is there a way of installing into virtual env ?

Many users are working with anaconda and tensorflow.

[2018-03-21 13:40] boxerab opened #12 "Performance metrics for TF on AMD cards ?"
It would be useful to compare TF performance on AMD against equivalent NV cards,
for example 580 vs 1060.

[2018-03-21 16:07] boxerab commented on #11
Also wondering about other virtual environments such as `virtualenv`

[2018-03-21 19:46] sunway513 commented on #11
@boxerab , we only have passthrough on KVM for virtual environment support.

[2018-03-21 20:02] sunway513 commented on #7
@zgu153522 it's really difficult to triage the issue without access your system. What I would suggest is to either go for docker or prepare a clean Ubuntu system and follow our document from the start.

[2018-03-21 21:40] Mandrewoid commented on #12
If you can find or create some simple **small-ish benchmarks,** I know a few people with Nvidia cards that I can distribute them to.  I have a Vega FE that I will run them on as well.
Part of the problem is finding a benchmark suite that automatically adequately represents the performance of your card.
As is, benchmarks like Resnet, Vggnet run differently with different size batches.
What runs fas

[2018-03-21 21:45] csuji opened #13 "X server freezes when executing TF models mnist example"
after installing tensorflow 1.3 on rocm 1.7.1 and  running
python convolutional.py

desktop freezes when reaching step tuning backfilters.
When logging in via ssh and killing the python process below stack trace is logged to kern.log
Desktop remains unresponsive (shell works) and only hard reset  brings back X server.

Mar 21 22:19:53 beastieboys kernel: [ 7371.536475] INFO: task amdgpu_cs:0:1883

[2018-03-21 21:48] boxerab commented on #11
@sunway513 thanks. by virtual, I mean just a virtual software environment.

[2018-03-21 21:49] boxerab commented on #11
not a virtualized OS

[2018-03-21 21:52] whchung commented on #13
@csuji in ROCm 1.7.1 a kernel parameter `noretry` has been set to 1 to improve overall system performance. However it has been proven to bring instability to graphics driver shipped with Ubuntu. This is an ongoing issue and we are looking into it.

Before that, please try apply this change by changing `noretry` bit to 0.

[code]

[2018-03-21 21:57] whchung commented on #11
@boxerab Thanks for your clarification, we normally work under bare metal or within docker containers. virtualenv or conda is less used by the working team. I'm wondering could you help provide errors / steps you try use the pip wheel package within those environments?

[2018-03-21 22:12] csuji commented on #13
Thanks! Now it worked!

2018-03-21 23:08:57.891523: W tensorflow/stream_executor/rocm/rocm_driver.cc:405] creating context when one is currently active; existing: 0x7f5066a8c7f0
2018-03-21 23:08:57.891609: I tensorflow/core/common_runtime/gpu/gpu_device.cc:907] Found device 0 with properties:
name: Device 6863
AMDGPU ISA: gfx900
memoryClockRate (GHz) 1.6
pciBusID 0000:03:00.0
Total memory: 15.98Gi

[2018-03-21 22:17] whchung commented on #13
@csuji Glad to hear that, files under `/sys` won't be preserved after reboot. One way to keep it is to change `/etc/modprobe.d/amdkfd.conf` and make it be:

[code]

Once it's done, run `sudo update-initramfs -u`. Reboot and verify `/sys/module/amdkfd/parameters/noretry` stays as 0.

[2018-03-21 22:17] #13 closed

[2018-03-21 22:19] csuji commented on #13
How big is the performance penalty? Because with other OpenCL programs I did not have this problem yet.

[2018-03-21 22:23] sunway513 commented on #13
The performance penalty depends on the networks you use, overall you can expect less than 10% performance drop.

[2018-03-21 22:25] whchung commented on #13
Need @dagamayank to provide more detailed information. Basically it affects hand-written GCN assembly kernels with interleaving SGPR loads in `MIOpen`, winograd convolution is one example. For kernels written in high level languages such as OpenCL, HIP, or C++ they won't be affected as the compiler emits SGPRs loads in the beginning.

[2018-03-21 22:25] csuji commented on #13
Okay, thanks. Looks negligible.

[2018-03-21 22:35] dagamayank commented on #13
VGG/OxfordNet will have the most performance impact, others should be within 10%.

[2018-03-22 00:56] chetant commented on #7
@zgu153522 I managed to get tensorflow 1.3 installed bare metal.
I was missing the hip_* packages.
[code]

[2018-03-22 02:26] zgu153522 commented on #7
@chetant Everything is working now - I had to update those hip packages.  Thanks!

[2018-03-22 02:26] #7 closed

[2018-03-22 06:55] xyang2013 commented on #12
Hi @Mandrewoid, could you please let me know what driver you used for Vega FE (enterprise, non-enterprise, or open-sourced one)? Thank you

My system:
Vega FE
Ubuntu 16.04.4

[2018-03-22 20:28] Mandrewoid commented on #12
https://rocm.github.io/ROCmInstall.html

[2018-03-22 20:33] boxerab commented on #11
@whchung  thanks, everything works fine on anaconda by, as you suggest, pip installing the wheel package in that environment.

[2018-03-22 20:33] #11 closed

[2018-03-22 22:16] boxerab opened #14 "Getting HIP_ERROR with latest whl file under python 2.7"
2018-03-22 18:14:41.893382: E tensorflow/stream_executor/rocm/rocm_driver.cc:1098] could not retrieve ROCM device count: HIP_ERROR_NoDevice

Running this sample:

https://github.com/aymericdamien/TensorFlow-Examples/blob/master/examples/2_BasicModels/kmeans.py

[2018-03-22 22:39] sclarkson commented on #14
If you're running headless, or otherwise without an X session, make sure you're in the video group.

ctrl+F video on here https://rocm.github.io/ROCmInstall.html

After adding yourself to the group, you can either relog or run `sg video`

[2018-03-22 22:41] whchung commented on #14
@boxerab commenting out line #19-#20 of said URL removes the error. It seems the test actually tries to ignore GPU.

[2018-03-22 22:56] whchung commented on #6
@Mandrewoid the package is now published at:
http://repo.radeon.com/rocm/misc/tensorflow/tensorflow-1.3.0-cp35-cp35m-linux_x86_64.whl

[2018-03-22 22:56] #6 closed

[2018-03-22 22:57] boxerab commented on #14
Thanks. But, why does the error occur ?

[2018-03-22 23:01] whchung commented on #14
The test explicitly disables all GPUs in the runtime. StreamExecutor therefore couldn't retrieve "the current GPU" and thus raise the error.

[2018-03-22 23:18] boxerab commented on #14
Great, thanks!

[2018-03-22 23:18] #14 closed

[2018-03-23 01:36] paolodalberto opened #15 "EPYC P47 machine rebooting while running cifar10 training"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-03-23 01:40] paolodalberto commented on #15
Docker files used to create the tensorflow environment
`FROM ubuntu:16.04

ENV http_proxy=http://gateway:8080
ENV https_proxy=https://gateway:8080

RUN apt-get update
RUN apt-get -y dist-upgrade
RUN apt-get install -y --no-install-recommends wget  libnuma-dev

RUN wget -qO - http://repo.radeon.com/rocm/apt/debian/rocm.gpg.key | apt-key add -
RUN echo 'deb [arch=amd64] http://repo.radeon.com/rocm/a

[2018-03-23 01:41] gstoner commented on #15
If your running with X11 Known Issues / Workarounds, rocm designed for Headless.   Also note is great once we get our source code upstream since is happing soon.

X freezes under load

ROCm 1.7.1 a kernel parameter noretry has been set to 1 to improve overall system performance. However it has been proven to bring instability to graphics driver shipped with Ubuntu. This is an ongoing issue and we

[2018-03-23 02:03] paolodalberto commented on #15
I do not think it is a X11 issue  nonethless we put it in multiuser and we did not start it (X11)

the /var/sys/syslog

Mar 22 18:58:35 P47-1 kernel: [  350.272191] Restoring PASID 1 queues
Mar 22 18:58:35 P47-1 kernel: [  350.272208] Restoring PASID 1 queues
^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@
^

[2018-03-23 02:04] paolodalberto commented on #15
`FROM ubuntu-rocm

ENV http_proxy=http://172.19.128.4:8080
ENV https_proxy=https://172.19.128.4:8080

RUN apt-get update
RUN apt-get install -y \
  build-essential \
  clang-3.8 \
  clang-format-3.8 \
  clang-tidy-3.8 \
  cmake \
  cmake-qt-gui \
  ssh \
  curl \
  apt-utils \
  pkg-config \
  g++-multilib \
  git \
  libunwind-dev \
  libfftw3-dev \
  libelf-dev \
  libncurses5-dev \
  libpthread

[2018-03-23 02:07] paolodalberto commented on #15
cifar training  reached step 17K
2018-03-23 01:58:54.064807: step 17630, loss = 71.52 (10128.4 examples/sec; 0.013 sec/batch)
2018-03-23 01:58:54.194337: step 17640, loss = 0.74 (9881.6 examples/sec; 0.013 sec/batch)
2018-03-23 01:58:54.320562: step 17650, loss = 0.83 (10140.4 examples/sec; 0.013 sec/batch)
2018-03-23 01:58:54.452660: step 17660, loss = 0.89 (9689.6 examples/sec; 0.013 sec/batch)

[2018-03-23 02:08] paolodalberto commented on #15
The last read of the status of the GPU

/opt/rocm/bin/rocm-smi

====================    ROCm System Management Interface    ====================
================================================================================
 GPU  Temp    AvgPwr   SCLK     MCLK     Fan      Perf    SCLK OD
  1   61.0c   136.0W   1440Mhz  945Mhz   0.0%     auto      0%
  2   29.0c   14.0W    1440Mhz  945Mhz   0.0%

[2018-03-23 02:08] gstoner commented on #15
All way make sure you install the driver correctly

[2018-03-23 02:09] paolodalberto commented on #15
the drivers looks ok
this was a fresh install on a bare bone system

[2018-03-23 02:10] gstoner commented on #15
run hipinfo

[2018-03-23 02:10] paolodalberto commented on #15
but any suggestions about to tests the systems are welcome.

[2018-03-23 02:12] paolodalberto commented on #15
/opt/rocm/bin/hipinfo
bash: /opt/rocm/bin/hipinfo: No such file or directory

[2018-03-23 02:12] paolodalberto commented on #15
/opt/rocm/bin/rocminfo
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MHz
Sig. Max Wait Duration:  18446744073709551615 (number of timestamp)
Machine Model:           LARGE
System Endianness:       LITTLE

==========
HSA Agents
==========
*******
Agent 1
*******
  Name:                    AMD EPYC 7601 32-Core Proc

[2018-03-23 02:14] gstoner commented on #15
Is this 1.7.1 or 1.7.0

[2018-03-23 02:16] paolodalberto commented on #15
dpkg -l rocm-dev
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name                         Version             Architecture        Description
+++-============================-===================-===================-=============================================

[2018-03-23 02:17] gstoner commented on #15
I just saw it, this is an EPYC system.  There needs to be SBIOS update on this P47 system you are using.  Since you're with Xylinx, you have two options contact  Inventec Bay area FAE can get this for your team or ask your AMD contact for it.

[2018-03-23 02:18] paolodalberto commented on #15
will ask

[2018-03-23 02:24] gstoner commented on #15
Short term go into the SBIOS and disable SMT support

[2018-03-23 04:47] vidullan opened #16 "Segment Fault (core dump) when auto tuning for convolv"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
I am trying to run this classifier available here: https://github.com/yu4u/age-gender-estimation

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Running Ubuntu 16.04 on kernel 4.10.0-28-generic with rocm 1.7.1 with tensorflow 1.3
Everything was installed from

[2018-03-23 05:15] whchung commented on #16
@vidullan Need your help to provide more logs to help determine the crash is inside TensorFlow or MIOpen. Please run the model again, with following environment variables, and share the logs with us.

[code]

The first environment variable `MIOPEN_ENABLE_LOGGING` help dumps parameter passed to `MIOpen`.
The 2nd one `HIP_TRACE_API` dumps HIP runtime API used.
The 3rd one `HCC_SERIALIZE_KERNEL` seri

[2018-03-23 05:18] whchung commented on #16
Also I'd like to ask for a couple more information:

1) could you provide what your CPU is.
2) could you try upgrade Linux kernel to `4.13.0-32`.

[2018-03-23 08:59] dibyendudas0708 opened #17 "xla jit error"
I am using the latest version on a P47 cluster. rocm tensorflow built from source with xla enabled.

### Describe the problem
Using XLA JIT gives the following error: { I am doing inference only using a frozen model ]

2018-03-23 01:44:58.449221: W tensorflow/core/framework/op_kernel.cc:1192] Not found: could not find registered platform with id: 0x0x7f4e203fe904
Traceback (most recent call last):

[2018-03-23 12:04] xyang2013 opened #18 "Questions regarding 'Tensorflow ROCm port: Basic installation' (2 questions)"
Thanks in advance

Question 1

For Python 3, in the 'Install required python packages', should I install the associated Python 3 packages?

Question 2

In 'Build and install hcfft", I had an error and am not sure whether it is critical:

-- The C compiler identification is Clang 6.0.0
-- The CXX compiler identification is Clang 6.0.0
-- Check for working C compiler: /opt/rocm/hcc/bin/clang
-- Chec

[2018-03-23 12:43] xyang2013 commented on #12
@Mandrewoid Thank you

[2018-03-23 13:41] whchung commented on #18
@xyang2013 Thanks for your questions.

For Question 1, I've modified the documentation to be more clear for Python 3-based systems:

https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/rocm_docs/tensorflow-install-basic.md
https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/rocm_docs/tensorflow-build-from-source.md

For Question 2, quite a few FFT-based convolution kernels

[2018-03-23 14:39] xyang2013 commented on #18
@whchung Thank you. I am trying to run some of my testing code. So far it is good. By the way, when are you expecting RNN will be available with this version?

[2018-03-23 14:54] whchung commented on #18
@xyang2013 all I can say now is we are very close. You can see in this repository we already have a `rocm-v1-rnn` branch sitting there with multi-layer RNN logic there.  + @dagamayank  for RNN in `MIOpen`.

[2018-03-23 15:36] 7SK commented on #17
Hi @dibyendudas0708 , please provide the source link for the model you are using so that I can reproduce it at my end as well.

[2018-03-23 15:46] gstoner commented on #18
@xyang2013  Soon,  just waiting on MIOpen 1.3 to role out

[2018-03-23 15:50] xyang2013 commented on #18
@gstoner Thank you

[2018-03-23 15:55] whchung commented on #18
@xyang2013 I'll close the issue hereby. BTW LSTM/GRU will indeed be supported in the upcoming `MIOpen` 1.3 release.

[2018-03-23 15:55] #18 closed

[2018-03-23 17:08] dibyendudas0708 commented on #17
I have a .pb file which is not available online. If you send me a location I can upload there.

[2018-03-23 18:06] paolodalberto commented on #15
will ask

[2018-03-23 19:01] mei-ye commented on #16
Old versions of Tensorflow has a seg fault issue that can be fixed by using "-mno-avx" to replace "-march=native" in the config.  No idea whether this is related to the issue here.
    On Thursday, March 22, 2018, 10:18:04 PM PDT, Wen-Heng (Jack) Chung <notifications@github.com> wrote:

Also I'd like to ask for a couple more information:

   - could you provide what your CPU is.
   - could you try

[2018-03-23 21:21] boxerab opened #19 "Mysterious Warning when running TF"
I get the warning below whenever I run examples from [here](https://github.com/aymericdamien/TensorFlow-Examples)

      2018-03-23 17:18:40.740562: W tensorflow/stream_executor/rocm/rocm_driver.cc:405] creating context when one is currently active; existing: 0x7ff369ad9360

[2018-03-23 21:36] boxerab opened #20 "Another strange warning"
When running the following example:

https://github.com/aymericdamien/TensorFlow-Examples/blob/master/examples/3_NeuralNetworks/convolutional_network_raw.py

I get the warning:

    2018-03-23 17:34:09.747860: I tensorflow/core/kernels/conv_ops.cc:670] running auto-tune for Convolve
    MIOpen(HIP): Warning [ReadFile] File is unreadable.

[2018-03-23 21:41] whchung commented on #20
@boxerab this could be a corner case in `MIOpen` kernel cache. Please help provide more logs with this env var turned on `MIOPEN_ENABLE_LOGGING=1`

[2018-03-23 21:41] dagamayank commented on #20
@boxerab Can you please send the log with `MIOPEN_ENABLE_LOGGING=1`. I think I know why you see this but just want to make sure.
Also which AMD GPU do you use?

[2018-03-23 21:42] whchung commented on #19
@boxerab You can safely ignore the warning for now. It's a feature we are going to deprecate in `HIP` runtime API.

[2018-03-23 21:44] boxerab commented on #19
Cool. Thanks!

[2018-03-23 21:44] #19 closed

[2018-03-23 21:49] boxerab commented on #20
Thanks, how can I re-direct this logging to file ?

[2018-03-23 21:49] boxerab commented on #20
I have an RX 470 btw

[2018-03-23 21:51] boxerab commented on #20
[miopen.txt](https://github.com/ROCmSoftwarePlatform/tensorflow/files/1843622/miopen.txt)

[2018-03-23 21:58] dagamayank commented on #20
I think the issue is the GPU that you are using. We do not "officially" support AMD RX470.

However, as a workaround you can try the following. You must have a `gfx803_36.cd.pdb.txt` file in `/opt/rocm/miopen/share/miopen/db`. Copy that file and rename it to `gfx803_**32**.cd.pdb.txt` in the same location. Now try running the test again and see if the warning goes away.

[2018-03-23 22:04] boxerab commented on #20
Thanks. What do you mean by not "officially" supporting 470 ? Which cards are officially supported?
I don't mind the warning, just wanted to give you guys a heads up in case it was hiding any issues.

[2018-03-23 22:05] boxerab commented on #20
If cache is not working, does this mean performance will suffer ?

[2018-03-23 22:09] dagamayank commented on #20
By officially support I mean support via MIOpen. MIOpen is supported on AMD Fiji Nano, AMD RX 480/580, and AMD Vega Series GPUs.

Most likely, yes. But it is difficult to estimate by how much. We are working on a feature which will allow the end-user to create and update a cache-file themselves on their end. I do not have an ETA for that currently.

[2018-03-23 22:18] boxerab commented on #20
Thanks, @dagamayank This project rocks, so pleased to finally be able to use my GPU for deep learning. Keep up the good work !

[2018-03-23 22:18] #20 closed

[2018-03-24 00:50] boxerab opened #21 "Crashing on this script"
https://github.com/aymericdamien/TensorFlow-Examples/blob/master/examples/3_NeuralNetworks/dcgan.py

Log output:

2018-03-23 20:50:28.080349: I tensorflow/core/common_runtime/gpu/gpu_device.cc:929] DMA: 0
2018-03-23 20:50:28.080353: I tensorflow/core/common_runtime/gpu/gpu_device.cc:939] 0:   Y
2018-03-23 20:50:28.080358: I tensorflow/core/common_runtime/gpu/gpu_device.cc:997] Creating TensorFlow

[2018-03-24 00:59] whchung commented on #21
@boxerab from the log it seems to be crashing inside `MIOpen` trying to locate the correct kernel. But we definitely need more logs to diagnose with the following env vars:

[code]

[2018-03-24 01:05] boxerab commented on #21
[dump.txt](https://github.com/ROCmSoftwarePlatform/tensorflow/files/1843911/dump.txt)

[2018-03-24 01:07] boxerab commented on #21
Would you guys consider adding these TF examples to your unit tests ?

[2018-03-24 01:11] Mandrewoid commented on #21
@boxerab  is it possible you are using code written for a TF 1.4+ version?

[2018-03-24 01:20] boxerab commented on #21
@Mandrewoid yes this is possible. How can I check ?

[2018-03-24 01:21] boxerab commented on #21
I am just learning TF, btw. Not sure how to differentiate between 1.3 and 1.4

[2018-03-24 01:21] boxerab commented on #21
Nonetheless, it shouldn't crash.

[2018-03-24 12:08] alecuba16 opened #22 "[QUESTION] Roadmap, plans to release a tensorflow 1.4/1.5 supported version?"
I'm just asking if it will be a version for tensorflow 1.5 since the supported version of keras for 1.3v is 2.0.6 which is quite old and in keras 2.1.x there are so many new features that are not present in previous versions.

[2018-03-24 13:34] whchung commented on #22
Since we did the port of 1.0.1 back in October '17 we did quite a lot of improvements in ROCm stack so this port of 1.3.0 has a much simpler architecture, and shall allow supporting newer versions a simpler job. I'll introduce some changes to this repository next week so we can see port be made publicly.

[2018-03-25 04:11] vidullan commented on #16
I tried upgrading to 4.13.0-32. Tried rebuilding tensorflow from souce using the -mno-avx flag as well. Still getting a segmentation fault.

My CPU is Ryzen 1700.

I've uploaded the output as a .txt file since it is very long.

[tfcrashlog.txt](https://github.com/ROCmSoftwarePlatform/tensorflow/files/1845009/tfcrashlog.txt)

[2018-03-26 14:05] #22 closed

[2018-03-26 22:08] jpaos opened #23 "jupyter notebook: kernel dies running cifar10_cnn.py"
The example cifar10_cnn.py (https://raw.githubusercontent.com/keras-team/keras/master/examples/cifar10_cnn.py) works fine when I run it from terminal: ` python3 cifar10_cnn.py`
However, when I put the code inside a notebook cell, I get "The kernel appears to have died. It will restart automatically."

This is the log I see in terminal:

[code]
From terminal:

[code]

[2018-03-26 22:10] whchung commented on #16
From the log this issue seems to be related with #21.

[2018-03-26 22:10] whchung commented on #21
From the log this issue seems to be related with #16.

[2018-03-26 22:13] whchung commented on #23
@jpaos Please help elaborate what do you mean by "notebook cell". And please check https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/README.ROCm.md#x-freezes-under-load and see if you are bumping into the same issue.

[2018-03-26 22:22] jpaos commented on #23
In the terminal I start a jupyter notebook using `$ jupyter-notebook`. Start a new python3 notebook and insert the code cifar10_cnn.py inside a notebook cell and run it from there.

[2018-03-26 22:24] whchung commented on #23
Since you run it within X window I'm suspecting you might run into `noretry=1` bug in AMD graphics driver. Please follow the link above and see if setting `noretry=0` helps.

[2018-03-26 22:36] fxkamd commented on #23
The noretry option doesn't affect Fiji GPUs. I think it's more likely that graphics and compute are competing for GPU memory causing evictions. I think the latest ROCm 1.7.1 has some improvements in that area. Are there any kernel log messages about evictions?

[2018-03-26 22:46] jpaos commented on #23
Again, when I try that code again from a notebook I get this on kern.log:

Mar 26 23:41:28 faraday kernel: [38662.740793] Evicting PASID 1 queues
Mar 26 23:41:28 faraday kernel: [38662.740834] Evicting PASID 1 queues
Mar 26 23:41:28 faraday kernel: [38662.748047] Restoring PASID 1 queues
Mar 26 23:41:28 faraday kernel: [38662.748058] Restoring PASID 1 queues
Mar 26 23:41:45 faraday kernel: [38679.

[2018-03-26 22:50] fxkamd commented on #23
What is the general protection fault in libstdc++? That's in a python3 process. Is that the problem you're trying to solve? Any chance you can capture a backtrace of that?

[2018-03-26 23:00] jpaos commented on #23
How can I get a backtrace?
I don’t know if this is my problem. When I run the code inside a notebook the "kernel dies”. Just says that…
From terminal, it works fine.

[2018-03-26 23:02] fxkamd commented on #23
You'd need to attache a gdb to the python3 process before it dies. When it gets the segfault you can get a backtrace with the "bt" command.

[2018-03-27 01:27] vidullan commented on #16
Hi @whchung. Is there any consensus as to what this issue is? Or when it might be patched?

I definitely do know that it is only using tensor-flow 1.01 constructs as it has been tested with that on an nvidia gpu.

[2018-03-27 01:32] whchung commented on #16
Right now I'm leaning toward it's crashing inside `MIOpen` and I'm working on finding hard evidence for it. Shall it be determined it be an `MIOpen` issue then a fix shall be rather easy be devised.

[2018-03-27 01:36] whchung commented on #16
@vidullan also I think I'll need you provide fool-proof steps to install all relevant python depdendencies. #21 is easier for me to reproduce.

[2018-03-27 19:15] tadaoisgod opened #24 "Race Condition while running MSSD detector"
-----------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**: [original URL from tutorial](http://repo.radeon.com/rocm/misc/tenso

[2018-03-28 00:07] whchung commented on #23
@streamhsa Please help reproduce the issue.

[2018-03-28 06:04] dibyendudas0708 commented on #17
Hi-

Any update ?

[2018-03-28 11:05] 7SK commented on #17
Hi @dibyendudas0708 , thanks for reporting the issue. the reported issue is fixed but we haven't tested XLA much. So currently I working on fixing the next issue. Will update you as soon as it fixed completely.

[2018-03-28 13:58] 7SK commented on #17
@dibyendudas0708 ,  I ran the application you provided, it is working now
Thanks

[2018-03-28 13:58] #17 closed

[2018-03-28 15:54] gsahbi commented on #16
same here just happened here is a debug tail :
`MIOpen(HIP): miopenStatus_t miopenFindConvolutionForwardAlgorithm(miopenHandle_t, const miopenTensorDescriptor_t, const void *, const miopenTensorDescriptor_t, const void *, const miopenConvolutionDescriptor_t, const miopenTensorDescriptor_t, void *, const int, int *, miopenConvAlgoPerf_t *, void *, size_t, bool){
xDesc = 32, 3, 32, 32
x = 0x90858af0

[2018-03-28 18:17] gsahbi commented on #16
That is something weird, I run the same code using PyChram without any problem using a remote interpreter.

[code]

[2018-03-28 18:55] gsahbi commented on #16
and here is stacktrace confirming it's in miopen::ConvolutionDescriptor::FindConvFwdAlgorithm

[code]

[2018-03-28 20:34] gsahbi commented on #16
it turns out this is just a locale issue here : MIOpen Error: locale::facet::_S_create_c_locale name not valid
problem disappeared when doing export LC_ALL="C" or whatever

but anyway it shouldn't crash so badly for unset locale

[2018-03-29 09:26] victor-felicitas commented on #20
Hello,

I do receive the same error even on Rx 480...
Does it mean some performance optimisations are not working?
Can it impact results (I am not able to replicate image transfer results from CycleGAN)?
How to fix it on RX 480?

[2018-03-29 14:04] whchung commented on #20
@pfultz2 / @dagamayank need your comment wrt `MIOpen` perf DB behavior

[2018-03-29 14:27] whchung commented on #24
@tadaoisgod I'm trying to reproduce the issue. My workstation doesn't come with a webcam so I'm using `inference_video_face.py` in the same repository. I fed it with some mp4 files but couldn't reproduce the issue yet.

I'd like to understand how long did you run into the issue with `WhereOp`? Currently I have to force `WhereOp` run on CPU ( logged at: https://github.com/ROCmSoftwarePlatform/tenso

[2018-03-29 14:38] dagamayank commented on #20
@victor-felicitas what is the warning?

[2018-03-29 14:42] victor-felicitas commented on #20
Like this:
running auto-tune for Convolve
MIOpen(HIP): Warning [ReadFile] File is unreadable.

Warning was also present in Hiptensorflow version.
I have checked and the gfx803_36.cd.pdb.txt file  is in /opt/rocm/miopen/share/miopen/db.
No idea why there is a problem with Rx 480

[2018-03-29 14:44] dagamayank commented on #20
@victor-felicitas Please copy and paste the exact warning that you get.

Also paste the output of `/opt/rocm/hip/samples/1_Utils/hipInfo/hipInfo`.

[2018-03-30 08:08] victor-felicitas commented on #20
Ok, I have once again reviewed the files and it turns out that in  /opt/rocm/miopen/share/miopen/db there are 2 files, one  gfx903_64.cd.pdb.txt and another gfx803_**64**.cd.pdb.txt.

Might be a small mistake in rocm or rocm-tensorflow build as both Rx580 and Rx480 have 36 CUs, not 64.
As soon as I renamed the file everything was OK and warning disappeared.

[2018-03-30 15:02] dagamayank commented on #20
@victor-felicitas Thanks. You are right, we missed to add the db file for 36CUs on the install step. I fixed that and it will be there in the next release of MIOpen.

[2018-03-31 09:50] Chern2 commented on #21
@whchung I find a problem. If I try to use matplotlib library to plot some result from tensorflow, tensorflow dies and no feedback appears in the terminal. Of course, everything is fine if I do not try to plot figures!

[2018-03-31 15:43] dibyendudas0708 opened #28 "XLA JIT significantly slower than without XLA"
When using XLA JIT and targeting the GPU, performance is significantly slower than when run without XLA on the same GPU. The frozen model and the code to run have already been shared. You can re-create the issue using the same model/code on Polaris/Vega. The performance drop is of the order of 15x-30x. My guess is that the auto tuner for conv may not be working (or not working correctly) under XLA

[2018-04-01 07:20] xyang2013 opened #29 "Release date for MIOpen 1.3"
Hi, could you give an estimated date? I am currently working on a project that requires RNN. If you are only going to release it much later, I would need to consider using AWS instead of my workstation with Vega graphic cards. Thank you.

[2018-04-01 16:54] gstoner commented on #29
1.3 MIOpen Released on Friday

[2018-04-01 18:28] whchung commented on #29
+ @jedwards-AMD  for awareness

@xyang2013 as @gstoner mentioned, `MIOpen` 1.3.0 was released on Friday:

https://github.com/ROCmSoftwarePlatform/MIOpen/releases/tag/1.3.0

But its binary package are not placed at `repo.radeon.com` so you can't install it with `apt update`.

Also I'll need to do the followings:
- merge `rocm-v1-rnn` branch into `rocm-v1` branch
- rebuild TensorFlow and publish upd

[2018-04-01 21:51] boxerab opened #30 "Keras with TF backend: error when trying to allocate 528 MB buffer on 4GB card"
MIOpen Error: /data/repo/MIOpen/src/hip/handlehip.cpp:68: Memory not available to allocate buffer: 528515072

I have a 4 GB RX 470

[2018-04-02 00:00] whchung commented on #30
@boxerab Please help more provide information to guide me reproduce the issue. You can refer to #24 as an example.

[2018-04-02 01:35] boxerab commented on #30
Sure. There are a lot of steps required before the error occurs. I will work on a reproducer.

[2018-04-02 01:45] whchung commented on #30
@boxerab Or would it be possible for you to share a docker container? That'd surely help make issue reproduce faster. My dockerhub handle is: `whchung`

[2018-04-02 02:03] xyang2013 commented on #29
@gstoner @whchung Thank you. Really hope the updated binary package will be available soon as I am in the middle of my project.

[2018-04-02 02:21] whchung commented on #29
@xyang2013 binary packages are available pending some final reviews before we place them on `repo.radeon.com`.

+ @jedwards-AMD / @gstoner for awareness

[2018-04-02 03:20] xyang2013 commented on #29
@whchung Thanks. I will try that.

[2018-04-02 03:39] mei-ye commented on #29
The RNN in the branch is to support APIs in python module "cudnn_rnn_ops".   RNN cell APIs are taking the CPU path. It should work.  If you are not using "cudnn_rnn_ops", there is no need tor you to wait.
-Mei
    On Sunday, April 1, 2018, 8:20:26 PM PDT, xyang2013 <notifications@github.com> wrote:

@whchung Thanks. I will try that.

—
You are receiving this because you are subscribed to this thre

[2018-04-02 05:53] xyang2013 commented on #29
@mei-ye Thanks. I like to use "cudnn_rnn_ops" as any speedup might be helpful, though I understand for RNNs the speedup of using GPU over CPU can be less prominent.

[2018-04-02 13:04] boxerab commented on #30
My bad - I think I just ran out of memory from previous Keras calls.

[2018-04-02 13:04] #30 closed

[2018-04-02 15:20] dagamayank commented on #28
@dibyendudas0708 XLA has been known to be slower than native path at least in the TF v1.3 realm. Feel free to create PRs if you find the fix for this.

[2018-04-02 20:07] whchung commented on #28
@dibyendudas0708 I've got the test data and program from you. Please kindly specify fool-proof steps to reproduce the issue, as well as dependent PIP packages.

[2018-04-02 20:33] mei-ye commented on #28
Note that Tensorflow doc does not claim that XLA is faster, it says it might be faster or slower.Also from a paper on TVM, XLA has the lowest performance compared to hand-coded libraries and auto-kernel generation + auto-tuning techniques.

-Mei
    On Monday, April 2, 2018, 1:07:06 PM PDT, Wen-Heng (Jack) Chung <notifications@github.com> wrote:

@dibyendudas0708 I've got the test data and program

[2018-04-02 22:32] jedwards-AMD commented on #29
The ROCm 1.7.1 repo was updated with the 1.3 version of MIOpen today.

[2018-04-02 22:32] #29 closed

[2018-04-02 22:36] whchung commented on #28
With `HIP_TRACE_API=2` we can see `MIOpen` kernels are still in use when XLA is on. This suggests poor kernels emitted by XLA.

[2018-04-02 22:40] whchung commented on #29
@jedwards-AMD PIP whl packages at http://repo.radeon.com/rocm/misc/tensorflow/ is still dated on 3/25 so it's without RNN / `MIOpen` 1.3. Could you help revise that with the new packages I provided? Thanks.

[2018-04-03 04:50] dibyendudas0708 commented on #28
You need to install opencv for cv2. I have also modified the test_dnet.py code to remove the dependence on PIL (which is not required). Please download the modified file and have a look. Thx.

[2018-04-03 07:47] repletetop opened #31 "GPUVM fault in Mask-RCNN"
用WX9100,测试Mask-RCNN,
use  amd WX9100 graphics card
tensorflow
test Mask-rcnn

name: Device 6861
AMDGPU ISA: gfx900
memoryClockRate (GHz) 1.5
pciBusID 0000:83:00.0
Total memory: 15.98GiB
Free memory: 15.73GiB

Ubuntu 16.04.1
rocm1.7
tensorflow-1.3.0-cp27-cp27mu-linux_x86_64.whl

运行到下面出错：
run this:
  detections, mrcnn_class, mrcnn_bbox, mrcnn_mask, \
            rois, rpn_class, rpn_bbox =\

[2018-04-03 11:27] whchung commented on #31
從 log 上表示, 有一個 GPU kernel 存取了不存在的記憶體位置 (0x32000). 我需要重現本問題好進行後續調查.

請提供:
1. Mask-RCNN URL
1. 相依的 PIP 列表
1. 執行方式

[2018-04-03 12:03] whchung commented on #31
@repletetop 我另外發現你的環境是 ROCm `1.7`, 而非 `1.7.1`. 可以請你提供下列資訊嗎:

[code]

其結果應該要是像:
[code]

[2018-04-03 12:03] whchung commented on #31
@repletetop Also I'd like to request to switch to English so others on the forum can understand our conversation and might step in for help.

[2018-04-03 12:26] xyang2013 commented on #29
@whchung Once the packages in http://repo.radeon.com/rocm/misc/tensorflow/ are updated, if I follow the basic installation, RNN / MIOpen 1.3 should be installed. Is it right?

[2018-04-03 12:28] whchung commented on #29
Yes. I'm still waiting for @jedwards-AMD to revise PIP wheels on http://repo.radeon.com/rocm/misc/tensorflow/ .

[2018-04-03 14:05] whchung commented on #15
@paolodalberto a gentle ping. is this issue is observable after upgrading SBIOS?

[2018-04-03 14:44] whchung commented on #23
@jpaos I can reproduce the issue. I noticed at `keras` startup there is something weird showing:

[code]

After some quick googling it brought me to:
https://github.com/jupyter/notebook/issues/2836

and `export BROWSER=google-chrome` helped me removing the error.

However the issue still persists. I think I'll need to dive deeper to understand how `keras` launches `TensorFlow` and how `MIOpen` .so

[2018-04-03 14:46] whchung commented on #23
@fxkamd The issue has nothing to do with `noretry`. From the look of it it has to do with dynamic loading mechanism between `keras` browser session and `TensorFlow` and `MIOpen`.

+ @dagamayank for awareness.

[2018-04-03 14:55] jedwards-AMD commented on #29
They have been uploaded and the version of MIOpen in ROCm 1.7.1 was updated as well.

[2018-04-03 15:13] whchung commented on #23
After some more fiddling with this example, I found this could make it work:

[code]

what happens is `MIOpen` somehow throws an unhandled exception at:
[code]
forcing it to CPU temporary workaround the issue. It still needs to be better looked into.

Based on the current observation it makes this issue be related to #16 and #21 . + @sunway513 for awareness.

[2018-04-03 17:52] dagamayank commented on #16
Is this issue related to [this](https://svn.boost.org/trac10/ticket/4688)? I do not think MIOpen is doing anything wrong here; it is reporting the error properly.

[2018-04-03 19:03] gsahbi commented on #16
The issue is that CHECK dies with a fatal error if condition is not true.
I’m stuck because I can’t have IPython kernel to read LC_ALL

[2018-04-03 19:27] whchung commented on #28
As profiling results show large amount of time spent in LLVM APIs, it suggest JIT kernel itself be an expensive operation in TF 1.3.
And AOT XLA in 1.3 works only on CPU for now.

I'll close this ticket for now and revisit the performance of XLA when we re-sync with tip of upstream TensorFlow.

[2018-04-03 19:27] #28 closed

[2018-04-04 04:54] paolodalberto commented on #15
SMT disable make it workable.

[2018-04-04 04:54] #15 closed

[2018-04-04 09:06] xyang2013 opened #33 "Import error after a fresh installation (followed the basic installation steps)"
Code
[code]

Error output
[code]

[2018-04-04 13:11] boxerab commented on #21
Still happening with latest MI-Open release

[2018-04-04 13:39] briansp2020 commented on #31
I'm having this issue as well. My configuration is default ROCm 1.7.1+tensorflow 1.3 image at GPUeater.com, updated with apt last night. (it seems there was new MIOpen-hip release), I can't provide more detail since my instance locked up and I can't log in any more...

[2018-04-04 13:46] whchung commented on #33
@xyang2013 from the log it appears you are using an older version of whl package which still depends on `hipfft`. We have switched to use `rocfft` which ships along with official ROCm 1.7.1.

Could you show me the md5sum of the whl package you used?

[2018-04-04 13:53] whchung commented on #31
@briansp2020 could you help provide some basic information so I can try reproduce the issue? thanks.

1. Mask-RCNN URL
1. dependent PIP packages
1. steps to reproduce the issue

[2018-04-04 13:57] whchung commented on #21
@boxerab The new `MIOpen` 1.3 release wasn't aiming to fix the issue. Current investigation shows for some reason C++ exception raised inside `MIOpen` went un-caught and aborts the whole TensorFlow, while within `MIOpen` implementation all exceptions are defined to be caught in top-level API. It could be a bug in `libunwind` and we are still looking into it.

[2018-04-04 14:06] briansp2020 commented on #31
Use GPUeater.com ROCm1.7.1+tensorflow1.3 image.
apt update & apt upgrade (this upgrades MIOpen-hip)
install some python dependencies (I forgot exactly what they were but running the notebook should tell you)
git clone https://github.com/matterport/Mask_RCNN
run train_shapes.ipynb.
it will hang.

I have modified the code some what to participate in https://www.kaggle.com/c/data-science-bowl-2018 an

[2018-04-04 14:10] boxerab commented on #21
Cool, thanks for the update.

[2018-04-04 14:16] whchung commented on #31
@briansp2020 thanks. Let me try reproduce with original train_shapes.ipynb in `Mask_RCNN` first.

[2018-04-04 14:24] 7SK opened #34 "seg fault with resnext"
Steps:
cd ~ && git clone https://github.com/wenxinxu/ResNeXt-in-tensorflow
pip install opencv-python pandas
cd ~/ResNeXt-in-tensorflow/
python cifar10_train.py --version=’test’ --nois_use_ckpt

After moving tf.nn.conv2d @ https://github.com/wenxinxu/ResNeXt-in-tensorflow/blob/master/resNeXt.py#L93 to cpu, it is working

[bt.txt](https://github.com/ROCmSoftwarePlatform/tensorflow/files/1876171/bt.t

[2018-04-04 14:27] whchung commented on #34
@7SK thanks for providing the info for tracking. To my understanding you are looking into the issue. From the stacktrace it shares the same trait with most of other segfault issues we have now ( #16 / #21 / #23 / #34 ).

Please try `git pull`. I've made some few commits in `rocm-v1` branch which allows we build with `-c dbg` so you can monitor the process within `gdb`.

[2018-04-04 14:37] boxerab commented on #12
Anecdotal : for simple CNN, RX470 4GB is faster than Tesla K80 for training.

[2018-04-04 14:51] whchung commented on #33
@xyang2013 I've packaged the new whl in a clean environment and made sure the test you provided works fine:
https://www.dropbox.com/sh/udkismzspwi9bi1/AAAnjxdexEH4HiZtGeAMAz_fa?dl=0

We'll update the package on `repo.radeon.com` shortly after. + @jedwards-AMD for awareness.

[2018-04-04 16:02] dagamayank commented on #16
I am not sure what MIOpen can do for LC_ALL="C"

[2018-04-04 16:26] whchung commented on #31
@repletetop @briansp2020 I'm able to reproduce the issue. trace points to a GPU kernel. I'll look into it.

[2018-04-04 16:37] briansp2020 commented on #31
@whchung
Good. Hope its a quick fix. I'll be anxiously waiting.

[2018-04-04 17:05] whchung commented on #31
@briansp2020 Luckily it seems to be a different issue than #16 / #21 / #23 / #34 where an exception within `MIOpen` somehow gets uncaught. The failing op is inside a custom CUDA / HIP kernel within TensorFlow and has nothing to do with `MIOpen`.

To help unblock you, I'm wondering are you able to build TensorFlow yourself? Forcing the op to be executed on CPU could be an workaround for now. I'll p

[2018-04-04 17:40] whchung commented on #31
failing GPU kernel collected with the following env vars:
[code]

[code]

[2018-04-04 20:11] whchung commented on #33
Thanks @jedwards-AMD for revising the whl packages.

@xyang2013 please help validate the new whl package at http://repo.radeon.com/rocm/misc/tensorflow/tensorflow-1.3.0-cp35-cp35m-linux_x86_64.whl gets the issue resolved.

md5sum is:

[code]

[2018-04-05 01:18] xyang2013 commented on #33
@whchung Thank you. I am trying it right now. By the way, what is the best way to manage software updates? Like in this case, I was not sure what would be the best way to remove the Tensorflow installation and I decided to restart from scratch which is very time consuming. Given the port is in active development, could you please outline an appropriate approaches to manage updates and fixes? Thank

[2018-04-05 01:25] whchung commented on #33
@xyang2013 since we are only updating whl packages now, `pip3 uninstall -y tensorflow` and `pip3 install tensorflow-1.3.0-cp35-cp35m-linux_x86_64.whl` should do.

As this project is delivered in `.whl` format, not Ubuntu `.deb`  or RHEL/CentOS `.rpm`, so it does not follow standard ROCm release process where a more solid process is in place yet. We are working on improving the process and will sha

[2018-04-05 02:44] xyang2013 commented on #33
@whchung Thank you. I tried the new package and it worked for the above example.

[2018-04-05 02:56] #33 closed

[2018-04-05 03:37] xyang2013 opened #35 "A simple RNN model hanging in the middle of the run"
Note:
1. The same code ran fine on my laptop with Nvidia Quadro M1000M
2. Tensorflow port (the latest from the repository - 2018-04-05)
3. Vega FE/Ubuntu 16.04/MIOpen 1.3

Code
[code]

[2018-04-05 14:40] whchung commented on #35
@xyang2013 Thanks for reporting this issue. This is a potentially a bug in AMD kernel driver. + @gstoner for awareness.

For now you can workaround the issue by running with `HSA_ENABLE_SDMA=0` env var. For example:

[code]

[2018-04-05 14:42] whchung commented on #35
@gstoner This ticket has been raised within AMD. Please help assign this ticket to folks working on kernel driver should they have public github handle.

[2018-04-05 15:45] gstoner commented on #35
@whchung  Done signed to the key team

[2018-04-05 15:49] whchung commented on #31
+ @gstoner  for awareness as it yet another kernel driver level issue.

A workaround is available and it involve 2 steps:

1. `HSA_ENABLE_SDMA=0`
1. force `resize_nearnest_neighbor` op on CPU

The first one is a kernel driver issue, it's the same as #35 .

The second one seems to be an issue in AMDGPU compiler backend. I can work on the second one and will need @gstoner 's help on the first one.

[2018-04-05 17:57] whchung commented on #31
+ @pfultz2 for awareness as it reveals at training phase we may yet bump into `MIOpen` exception unhandled issue depicted in #16 / #21 / #23 / #34.

In training phase `train_shapes.ipynb`, after apply workaround for inference (denoted above), we'll run into unhandled exception in `MIOpen`. I'll try provide more information.

[2018-04-05 18:51] whchung commented on #31
@pfultz2 / @dagamayank here are the relevant info for somehow handled exception within `MIOpen`:

With the following workarounds:

1. `HSA_ENABLE_SDMA=0`
1. force `resize_nearest_neighbor` op on CPU

With the following env vars:

[code]

We 100% crashes `MIOpen` in this line in `train_shapes.ipynb`:

[code]

Relevant logs:

[code]

[2018-04-05 21:32] whchung commented on #34
crash behavior shows it's the same as #21

[2018-04-05 22:48] whchung commented on #16
Upgrading to `MIOpen` 1.3 seems to let the ticket behave differently. I'm now able to commence training for https://github.com/yu4u/age-gender-estimation with the following command:

[code]

Previously with `MIOpen` 1.2.1 it was crashing.

[2018-04-05 23:06] xyang2013 commented on #35
@whchung

1 What is SDMA engine?
2 If I set the flag to 0, is the RNN path running on the GPU or CPU?
3 I am running Python scripts in IPython. Is it a good idea to disable it in bashrc?
```export HSA_ENABLE_SDMA=0```

Thanks

[2018-04-05 23:47] whchung commented on #35
@xyang2013

1. SDMA engine is a hardware component inside AMD GPU and it's first enabled by default in Vega family.
1. in your model you use `tf.nn.rnn_cell.MultiRNNCell` so I think probably it won't use RNN kernels in `MIOpen` 1.3 yet. Some part of the computation may still take place on GPU as TensorFlow uses Eigen and we do enable most of ops with Eigen on GPU. You can check with env var `HIP_T

[2018-04-05 23:47] xyang2013 commented on #35
@whchung I ran it again with HSA_ENABLE_SDMA=0. It was noticeably slower than running on Nvidia Quadro M1000M. Is it as expected?

[2018-04-05 23:50] whchung commented on #35
I'm glad it runs now. As `tf.nn.rnn_cell.MultiRNNCell` isn't hooked up with `MIOpen` 1.3 RNN kernels yet I can imagine the performance could definitely use some more improvement.

[2018-04-06 00:02] xyang2013 commented on #35
Thanks. Just checked HIP_TRACE_API was empty.

1 At the moment, which Tensorflow constructs do use ```tf.contrib.cudnn_rnn_ops```?
2 Did you mean the next release would be Tensorflow 1.7+? Do you have a time estimate?

[2018-04-06 00:40] xyang2013 opened #36 "Is there a tool similar to Nvidia-SMI for showing GPU utilisation?"
I am testing some code that does multi-gpu training. Is there a tool that is similar to nvidia-smi? Thanks

[2018-04-06 01:01] whchung commented on #36
@xyang2013 try `rocm-smi` and `rocminfo`. They are all installed in ROCm stack.

You can find the projects at:
https://github.com/RadeonOpenCompute/ROC-smi
https://github.com/RadeonOpenCompute/rocminfo

[2018-04-06 01:01] #36 closed

[2018-04-06 01:05] whchung commented on #35
@xyang2013

1. `tf.contrib.cudnn_rnn_ops` is the Python API in the current port of TensorFlow which talks to `MIOpen` 1.3 RNN kernels. You might need to check its implementation and adjust your model accordingly.
1. TensorFlow 1.7+ for ROCm is in the works and we shall be publishing some works in the next couple of weeks. This particular repository would be transformed into a public fork of upstre

[2018-04-06 03:26] xyang2013 commented on #35
@whchung

Btw, will ROCm provide support for PyTorch soon? PyTorch is ideal for prototyping and for sequential network structures, PyTorch can be faster than Tensorflow when running on a single machine.

[2018-04-06 04:46] whchung commented on #35
@xyang2013

1. `tf.contrib.cudnn_rnn.CudnnLSTM` and `tf.contrib.cudnn_rnn.CudnnGRU` are supported. For more detailed information please check #2 .
1. all I can say right now it's in the works, and please star https://github.com/wsttiger/pytorch in case you are interested in the project. + @wsttiger for awareness. BTW, since the title of the ticket is to discuss about an issue in an RNN test please

[2018-04-06 23:33] briansp2020 commented on #35
@whchung
About TensorFlow 1.7+ being a public fork of upstream TensorFlow, have you talk to the upstream developers about merging HIP port and maintain the whole thing using HIP? After all, HIP is supposed to be able to compile for both NVidia & AMD.
If they do not want that, how much effort do you think it will be to keep this folk in sync with the upstream code base?

[2018-04-07 00:08] whchung commented on #16
+ @bensander @scchan @pfultz2 @dagamayank for awareness.

The root cause has been figured out. Multiple instances of `libunwind` are loaded at runtime and messed up the exception handling routine. Need to disable `libunwind` dependency across various components within ROCm stack.

[2018-04-07 00:08] whchung commented on #21
+ @bensander @scchan @pfultz2 @dagamayank for awareness.

The root cause has been figured out. Multiple instances of `libunwind` are loaded at runtime and messed up the exception handling routine. Need to disable `libunwind` dependency across various components within ROCm stack.

[2018-04-07 00:13] whchung commented on #23
+ @bensander @scchan @pfultz2 @dagamayank for awareness.

The root cause has been figured out. Multiple instances of `libunwind` are loaded at runtime and messed up the exception handling routine. Need to disable `libunwind` dependency across various components within ROCm stack.

[2018-04-07 00:42] boxerab commented on #21
Awesome. Thanks for fixing this.

[2018-04-07 00:45] whchung commented on #34
+ @bensander @scchan @pfultz2 @dagamayank for awareness.

The root cause has been figured out. Multiple instances of `libunwind` are loaded at runtime and messed up the exception handling routine. Need to disable `libunwind` dependency across various components within ROCm stack.

[2018-04-07 00:59] whchung commented on #31
+ @bensander @scchan @pfultz2 @dagamayank for awareness.

The root cause has been figured out. Multiple instances of `libunwind` are loaded at runtime and messed up the exception handling routine. Need to disable `libunwind` dependency across various components within ROCm stack.

[2018-04-08 17:30] gsahbi opened #37 "Merge back upstream ?"
It's more of a question as to why you chose not to fork tensorflow repo and be able to pull back new features and bugfixes, I think they are at 1.7 release. Was it very tightly coupled to Cuda stuff ?

[2018-04-08 17:55] gstoner commented on #37
When you start port you fork the release then merge the changes,  the reason we had not done so to date was we need to get list legal agreement ok by our Legal team.  it called Contributor Licence Agreement.   This now signed and we are working closely with Google/Tensorflow engineering team on the changes that needed to support a broader number of  Accelerators since there number of area that ver

[2018-04-08 17:55] #37 closed

[2018-04-09 11:00] micytw opened #38 "object detection tutorial result incorrect"
I have tested the object detection tutorial example and there are object detection error.
the object detection comes from the follows

The script will download a pre-trained frozen model and do the inference test.

I have verify
1. (correct) CPU only. `config=tf.ConfigProto(device_count = {'GPU':0} `

2. (incorrect) I have tested several miopen environment configuration.
`config=tf.ConfigProto(int

[2018-04-09 14:07] whchung commented on #16
The issue would be resolved in the next ROCm 1.7.2 release where all `libunwind` dependencies be dropped. We will also publish a new set of PIP wheels.

[2018-04-09 14:07] whchung commented on #23
The issue would be resolved in the next ROCm 1.7.2 release where all `libunwind` dependencies be dropped. We will also publish a new set of PIP wheels.

[2018-04-09 14:07] whchung commented on #31
The issue would be resolved in the next ROCm 1.7.2 release where all `libunwind` dependencies be dropped. We will also publish a new set of PIP wheels.

[2018-04-09 14:07] whchung commented on #34
The issue would be resolved in the next ROCm 1.7.2 release where all `libunwind` dependencies be dropped. We will also publish a new set of PIP wheels.

[2018-04-09 14:08] boxerab commented on #21
Great, ETA for 1.7.2 ?

[2018-04-09 14:12] whchung commented on #21
Within this week. This is the last changeset be on the train.

[2018-04-09 14:14] boxerab commented on #21
Cool. Thanks for letting me know.

[2018-04-09 16:10] whchung commented on #38
The bug is not inside `MIOpen`, but one of custom kernels within TensorFlow. Working on narrowing down the suspects.

[2018-04-09 16:25] briansp2020 commented on #31
Wow!
Thanks for the quick response. Looking forward to trying it out.

[2018-04-09 16:43] briansp2020 commented on #21
@whchung Do you plan to fix https://github.com/ROCmSoftwarePlatform/tensorflow/issues/38#issuecomment-379806604 for ROCm 1.7.2 or is that TF only issue that can be fixed later?

I plan on participating http://xviewdataset.org/ challenge next. I used 1080 with 8GB of graphics memory for the Kaggle data science competition but I'm running into memory limit. So, if TF1.7+ is well supported on Vega FE

[2018-04-09 16:57] whchung commented on #21
@briansp2020 Normally I want to make PIP whl packages be as independent from ROCm release as possible.

Right now in #38 we know `concat` op is somehow incorrect.

If it's a host side issue then it's completely within TensorFlow and we just need to update the whl packages and that can be done independent of ROCm 1.7.2 release.

If it's a GPU kernel/compiler issue, we can still update the whl packa

[2018-04-09 19:11] whchung commented on #38
@micytw fixed in commit https://github.com/ROCmSoftwarePlatform/tensorflow/commit/d9b0766220ff8b54036559c60de9a655b189c092 . To my understanding you shall be able to build TensorFlow from source code. I'll close the issue hereby.

[2018-04-09 19:11] #38 closed

[2018-04-09 20:08] whchung commented on #31
+ @acmeman925 for awareness. Turns out the issue in `resize_nearest_neighbor` TensorFlow op is on the host side logic, not in GPU kernels. Commit https://github.com/ROCmSoftwarePlatform/tensorflow/commit/efc1ef8beff229d92315c4908d64f5f9cc8803a9 fixed the issue wrt `resize_nearest_neighbor`.

Now to close the ticket properly, we still need:
- ROCm 1.7.2 release which strips `libunwind` from all maj

[2018-04-10 03:09] micytw commented on #38
Got it. Thanks.
________________________________
From: Wen-Heng (Jack) Chung <notifications@github.com>
Sent: Tuesday, April 10, 2018 3:11:36 AM
To: ROCmSoftwarePlatform/tensorflow
Cc: Wu, Michael; Mention
Subject: Re: [ROCmSoftwarePlatform/tensorflow] object detection tutorial result incorrect (#38)

@micytw<https://github.com/micytw> fixed in commit d9b0766<https://github.com/ROCmSoftwarePlatfor

[2018-04-12 02:59] Tatsudio opened #40 "Use AMD Radeon Pro 560 card on MacOs High Sierra 10.13"
Actually i'm using [tf-coriander](https://github.com/hughperkins/tf-coriander) to use my GPU, you will support AMD on MacOS?
Sorry for the bad english.

[2018-04-12 09:01] ws0zzg4569 commented on #12
An interesting finding: The loss of my model implement with keras mix with tensorflow running on my RX480 not change durining training epoch, but just tried with GTX1070 with tf1.3 and keras, works fine. No idea what cause the issue.

[2018-04-12 16:07] Mandrewoid opened #41 "Numpy version mismatch"
If you do a clean install according to the basic install docs, you will get a numpy version mismatch because the numpy version installed by apt is old. (At least in the python3 version)
The error looks like this:

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xa

Problem can be solved by pip3 install numpy --upgrade

[2018-04-12 20:47] Mandrewoid opened #42 "Trouble cifar10 training example. - does not match CPU-only"
Note: I am using python 3 version. Edit: Symptoms same in python2.7 version
Following the cifar10 example from https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/rocm_docs/tensorflow-quickstart.md

It runs without any error messages, but it does not converge as it does with CPU-only.
For instance:
export HIP_VISIBLE_DEVICES=''
Training messages go like this:

2018-04-12 16:38:29.17117

[2018-04-12 21:03] whchung commented on #42
@Mandrewoid the "blips" in loss value is known for awhile, and it's due to potential issue inside the GPU kernel for `l2 loss` op. An experimental commit https://github.com/ROCmSoftwarePlatform/tensorflow/commit/321a784422acdac18ef38e0d98246174891896f8 is available but it's not merged to the main branch yet. I'm actually working on this issue as we speak.

[2018-04-13 08:51] ws0zzg4569 commented on #12
[code]
Well, just a simple hierarchical LSTM, and interestingly, loss explosion since epoch 2, everything works fine on the GTX1070. The loss converges after several epochs.

[code]
The out put should be a binary classifier, but according to the value of recall, there seems to be  strange values.

[2018-04-13 12:13] boxerab commented on #12
Thanks. Are you able to put this in a jupyter notebook, with data? I could try to repro with a notebook.

[2018-04-14 05:08] whchung commented on #42
+ @parallelo @b-sumner @scchan @dagamayank

The issue seems to be in 1. compiler. Synchronization between `l2 loss` ops is lost due to compiler optimizations. The culprit seems to be in `https://github.com/RadeonOpenCompute/ROCm-Device-Libs` I myself wrote sometime ago which used incorrect LLVM function attributes.

A fix is under verification now and hopefully it can be merged into the upcoming R

[2018-04-16 12:55] psteinb opened #43 "auto-tune?"
Hi, I am just playing with hiptensorflow in rocm1.7.1 and miopen-1.3 inside the docker container that is made available. My code is running but I saw these lines:
[code]
is this xla enabled? the configure script points to some user input on that matter:
https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/configure#L378

[2018-04-16 13:09] whchung commented on #43
@psteinb This is `MIOpen` auto-tuning in the work. XLA is enabled by default at `configure` time, but it is normally NOT used unless your model explicitly specify XLA device.

[2018-04-16 13:09] #43 closed

[2018-04-16 13:13] psteinb commented on #43
Ok, I just needed to know in terms of comparability to lock-stock tf on
nvidia hardware. thanks for the prompt response.

[2018-04-16 13:17] psteinb commented on #12
I am just in the works of doing such a comparison with this little benchmark [deeprace](https://github.com/psteinb/deeprace). I can release the code in the repo or a related repo with analysis code in due course. Drop me a thumbs up if you are interested.

[2018-04-16 18:14] whchung commented on #42
Beside the issue in 1. compiler, 3. host kernel call site need also be improved. PR #44 tries to address this issue.

Notice in the very near future operators which depends on `Eigen` reduction such as `l2 loss` affected in this example would be switched to use `rocPRIM` ( https://github.com/ROCmSoftwarePlatform/rocprim ) which shouldn't run into this issue.

[2018-04-16 19:56] Mandrewoid commented on #42
@whchung perhaps https://github.com/ROCmSoftwarePlatform/rocprim is a private repo. Thank link is 404 for me

[2018-04-16 19:59] whchung commented on #42
@Mandrewoid yep it's something to be made public really soon. we have some PRs also pending to the open of the repo.

[2018-04-18 22:07] araina2 opened #46 "Keras ResNet50 crashing on tensorflow"
Steps to replicate the issue:
1.	Build the ROCM stack from here: https://github.com/RadeonOpenCompute/ROCm-docker/blob/master/quick-start.md
2.	docker pull rocm/tensorflow  (default tag: latest)
3.	sudo docker run -it --device=/dev/kfd --device=/dev/dri --group-add video rocm/tensorflow
4.	In the bash login prompt of docker, do
python tf-resnet50.py (code is below)
5.	The error should look like th

[2018-04-19 10:59] 7SK commented on #46
Hi @araina2 , please use keras from tf for setting learning phase as well. I mean use
"tf.contrib.keras.backend.set_learning_phase(True)"
instead of
"from keras import backend as K
K.set_learning_phase(1)"
you were using model from tf.contrib.keras but the learning_phase was set for keras you installed using pip
Hi @whchung , since some keras user prefer integer value over Boolean for learning_pha

[2018-04-19 10:59] #46 closed

[2018-04-19 16:34] daniellowell opened #48 "DCGAN produces NaN during training"
### System information
Running DCGAN from here:
https://github.com/carpedm20/DCGAN-tensorflow

Native OS:
16.04.1 with ROCm 1.71

Using Docker image to run the benchmark:
sunway513/hiptensorflow:tf13-rocm171-v1-nan-fixed-enhanced

GPU:
Vega10

To reproduce:

1. Clone the repo from above link into the docker.
2. cd into DCGAN directory
3. Run the command: `python3 download.py mnist celebA`
4. To tr

[2018-04-19 16:52] dagamayank commented on #48
@7SK According to our previous data this test was working fine.
http://confluence.amd.com/pages/viewpage.action?spaceKey=~sandkuma&title=Tensorflow+research+models

[2018-04-20 11:36] 7SK commented on #48
Hi @dagamayank
Yes, I was able to run it successfully earlier with both the datasets. Reverified it on one of the docker images I pushed earlier (sunway513/hiptensorflow:tf-rocm-0.2.1sk2), I was able to successfully train it with and without serializing the kernel( using HCC_SERIALIZE_KERNEL=0x3).
Hi @daniellowell
I tried to train it with docker sunway513/hiptensorflow:tf13-rocm171-v1-no-libunwind

[2018-04-20 14:04] daniellowell commented on #48
I don't think this issue is quite done.
You did not run the test on the hardware I produced the issue; i.e., Vega10.
Additionally, this statement does not match the issue:
"It is not a bug in rocm port of tensorflow, but issue with loading the previous checkpoint. "
I was able to reproduce the issue multiple times running the training from scratch without checkpointing. In fact when I reran with a

[2018-04-20 14:17] 7SK commented on #48
@daniellowell Thanks for re-opening the issue

[2018-04-23 16:47] whchung commented on #48
Relevant issue: https://github.com/carpedm20/DCGAN-tensorflow/issues/25 . Though not too much insights there.

[2018-04-26 06:45] VincentSC commented on #42
It was indeed made public 2 days after

[2018-04-26 21:48] boxerab opened #49 "Hate to be that guy, but..."
Now that ROCm 1.7.2 is released, what is ETA for tensorflow update ?

Thanks!

[2018-04-26 21:52] whchung commented on #49
@boxerab before we update PIP packages on `repo.radeon.com`, please take a sneak peek at:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/tree/develop-upstream

[2018-04-26 21:57] boxerab commented on #49
1.8 .... Nice!!  Also, there is a windows build. Does that mean what I think it means ?

[2018-04-26 21:58] boxerab commented on #49
Ahh, CPU only. Oh well.

[2018-04-26 22:05] whchung commented on #49
The port for 1.8 is still in very early stage yet with nothing really running on GPU yet. That said things should change rather rapidly in the next couple of weeks as we check in implementation for 1.8.

[2018-04-26 22:14] boxerab commented on #49
Sounds good. Can't wait.

[2018-04-27 12:37] #49 closed

[2018-04-27 15:17] whchung commented on #41
@parallelo please help check `numpy` version building new pip whl for ROCm 1.7.2 , and upcoming releases

[2018-04-29 15:54] GhostChild opened #51 "Illegal instruction (core dumped)"
I use rocm/tensorflow docker container
import tensorflow error
![image](https://user-images.githubusercontent.com/22742106/39408378-ccd13eb8-4c07-11e8-9f6e-72848f0515e4.png)

Illegal instruction (core dumped)

I think my CPU is E3-1245V2 ,It not have AVX2 instruction
maybe you build this image use AVX2 or more instruction
but I'm not sure.

My PC:
CPU E3-1245V2
GPU AMD RX480
system Archlinux
docke

[2018-04-29 16:46] parallelo commented on #51
Hi @GhostChild - Thanks for the heads-up.  Can you send the results of the following commands?
[code]
The initial (not optimal) workaround is to rebuild TF inside the container.

[2018-04-29 17:00] GhostChild commented on #51
`➜  ~ tail /proc/cpuinfo | grep flags
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx rdtscp lm constant_tsc arch_perfmon pebs bts rep_good nopl xtopology nonstop_tsc cpuid aperfmperf pni pclmulqdq dtes64 monitor ds_cpl vmx smx est tm2 ssse3 cx16 xtpr pdcm pcid sse4_1 sse4_2 x2apic popcnt tsc_deadline_timer

[2018-04-30 04:53] 7SK commented on #21
Hi @boxerab
ROCm1.7.2 is released, with it the issue is resolved. Please give it a try.

[2018-04-30 06:36] 7SK commented on #23
Hi @jpaos ,
ROCm1.7.2 is released, with it the issue is resolved. Please give it a try.
If you running it with keras-2.1.6, you will get the following error:
TypeError: softmax() got an unexpected keyword argument 'axis'
since latest keras is updated with the latest changes in tensorflow, please use a previous version
pip install --upgrade keras==2.1.3

[2018-04-30 14:34] whchung commented on #34
@7SK Since 1.7.2 has been released and to my understanding you've verified the issue in this ticket is no more I'm closing this issue hereby.

[2018-04-30 14:34] #34 closed

[2018-04-30 22:51] parallelo commented on #51
FYI - We've got a fix coming your way.  We're pushing out new whl files, and we'll also probably update the public docker images now that ROCm 1.7.2 is live.  Stay tuned.

[2018-04-30 22:59] parallelo commented on #41
FYI - We're pushing out new whl files, and we'll also probably update the public docker images now that ROCm 1.7.2 is live. I'll also update the documentation.  Thanks for the heads-up.

[2018-04-30 23:35] boxerab commented on #21
Yes, thanks, it no longer crashes.
However, every few times I run it, I get this exception thrown:

       terminate called after throwing an instance of 'miopen::Exception'
          what():  /data/repo/MIOpen/src/mlo_dir_conv.cpp:105: No solution found

[2018-04-30 23:38] boxerab commented on #21
Here is the output with logging turned on:

MIOpen(HIP): miopenStatus_t miopenSet4dTensorDescriptor(miopenTensorDescriptor_t, miopenDataType_t, int, int, int, int){
tensorDesc =
dataType = 1
n = 32
c = 1
h = 28
w = 28
}
MIOpen(HIP): miopenStatus_t miopenCreateTensorDescriptor(miopenTensorDescriptor_t *){
tensorDesc = 0
}
MIOpen(HIP): miopenStatus_t miopenSet4dTensorDescriptor(miopenTensorDescripto

[2018-05-01 15:13] GhostChild commented on #51
thx, I'm looking forward to the new version.

[2018-05-01 20:28] sclarkson commented on #41
The numpy minimum version in setup.py should be the same version that you use in your build environment. Ideally, you should use 1.11 in your build environment, as that is what is shipped with Ubuntu 16.04.

[2018-05-03 01:22] isaac-rstor opened #55 "Lack of supported GPU list."
ROCm correctly installs on Hawaii GPUs, but when I try to use hiptensorflow, I get the following error, and based on runtime it seems to fall back onto cpu:

`Ignoring visible gpu device (device: 0, name: Device 67a1, pci bus id: 0000:04:00.0) with AMDGPU ISA gfx701. The minimum required AMDGPU ISA is gfx803.`

This would have been nice to know before purchasing the Hawaii GPUs, because there was

[2018-05-03 01:44] sunway513 commented on #55
Hi @isaac-rstor , please find the ROCm supported devices here:
https://rocm.github.io/hardware.html

[2018-05-03 01:52] whchung commented on #55
/cc @gstoner for awareness.

@isaac-rstor I myself doesn't know the list of SKUs we support on ROCm. We use AMD GPU ISA version to tell if a GPU is supported. Currently gfx803 (Fiji-family) and gfx900 (Vega-family) are supported. Unfortunately gfx700 (Hawaii-family) is not supported.

https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/tensorflow/core/common_runtime/gpu/gpu_device.cc#L

[2018-05-03 01:54] #55 closed

[2018-05-03 01:54] whchung commented on #51
@GhostChild the PIP packages were revised earlier today

[2018-05-03 01:55] whchung commented on #16
Closing this issue as ROCm 1.7.2 was released and PIP packages for ROCm 1.7.2 were released.

[2018-05-03 01:55] #16 closed

[2018-05-03 01:58] whchung commented on #21
@boxerab Please try the followings:

1) make sure we are using ROCm 1.7.2:

    apt show rocm-dkms

    should give us 1.7.148

2) make sure we are using TensorFlow PIP package built for ROCm 1.7.2:

$ md5sum tensorflow-1.3.0-cp35-cp35m-linux_x86_64.whl
f189b887952647db07a7458ea550ca20  tensorflow-1.3.0-cp35-cp35m-linux_x86_64.whl

$ md5sum tensorflow-1.3.0-cp27-cp27mu-linux_x86_64.whl
70c497565f6

[2018-05-03 01:59] whchung commented on #23
Closing this issue as ROCm 1.7.2 has been released and PIP packages for ROCm 1.7.2 were also released.

[2018-05-03 01:59] #23 closed

[2018-05-03 02:00] whchung commented on #31
ROCm 1.7.2 has been released and PIP packages for ROCm 1.7.2 were also released.

Mask RCNN works fine with `HSA_ENABLE_SDMA=0`. Keep this ticket open for now.

[2018-05-03 02:01] whchung commented on #42
Closing this issue as ROCm 1.7.2 has been released and PIP packages for ROCm 1.7.2 were also released.

[2018-05-03 02:01] #42 closed

[2018-05-03 02:05] isaac-rstor commented on #55
@sunway513 the list presented on this page may need updating if the s9100 line (and others) are not supported.  https://rocm.github.io/ROCmRadeonProcompare.html - and as I mentioned, the ROCm driver layer (and OpenCL) are working just fine.

@whchung Will do. Thanks for the tips.  I think I'll be able to get this working!

[2018-05-03 04:02] briansp2020 commented on #31
I'm trying this with 1.7.2 and I'm getting different problem now. There has been some updates to Mask_RCNN code as well. So, I'm not sure whether this is new issues or not.

https://gist.github.com/briansp2020/97d4b1fc658c4340acfc2838208b1e2b

Used GPUeater and updated to 1.7.2 and install the whl from the repo today.

[2018-05-03 04:09] briansp2020 commented on #31
Actually, after upgrading numpy to the latest version, it seems to be working now.

[2018-05-03 04:49] briansp2020 commented on #31
Is there a way to check the load on the GPU? Unlike nvidia-smi, rocm-smi does not show load or memory usage...

[2018-05-03 14:07] briansp2020 commented on #31
After running training process for a while, I'm unable to shutdown the machine properly. I had this issue when I tried this the last time.
Output from my attempt to run my 2018 Data Science Bowl training code.
https://gist.github.com/briansp2020/dd49704da9d43eac3b429ed4a804c8c9

The training process takes a lot of resources and GPUeater instance does not have enough CPU power nor enough main memor

[2018-05-03 15:27] whchung commented on #31
/cc @hthangirala @cfreehill regarding to `rocm-smi`.

[2018-05-03 19:41] boxerab commented on #21
OK, did all that. I am now getting this error:

[32m<<hip-api tid:7.5206 7.5206 hipLaunchKernel '_ZN10tensorflow7functor37SwapDimension1And2InTensor3UsingTilesIfLi32ELi8EEEvPKT_NS0_9DimensionILi3EEEPS2_' gridDim:{8192,8,1} groupDim:{32,8,1} sharedMem:+0 stream:0.1 @646595623624[0m
[32m<<hip-api tid:7.5207 7.5207 hipLaunchKernel '_ZN10tensorflow14BiasNHWCKernelIfEEviPKT_S3_PS1_i' gridDim:{32768,

[2018-05-03 19:41] boxerab commented on #21
This is under python 2.7

[2018-05-03 19:59] whchung commented on #21
/cc @sunway513

@boxerab This is weird. We've never seen such errors before. Neither on Python2 or Python3.

@sunway513 will push out a public Docker container completely based on 1.7.2 so maybe you can try use it.

[2018-05-03 20:02] boxerab commented on #21
Yes, so this happens when I have this environment variable `HIP_TRACE_API=2` set.
If I remove this, then no exception.

[2018-05-03 20:03] boxerab commented on #21
And when I set `HCC_SERIALIZE_KERNEL=3`

[2018-05-03 20:06] boxerab commented on #21
Also with `MIOPEN_ENABLE_LOGGING=1`

[2018-05-03 20:07] boxerab commented on #21
So, crash happens when environment variables are set

[2018-05-03 20:09] boxerab commented on #21
Also, if I run without env variables set, after a certain number of steps I get repeated `nan`
for loss:

`Step 2400: Generator Loss: nan, Discriminator Loss: nan`

[2018-05-03 20:18] sunway513 commented on #21
@boxerab , the updated docker image is ready:
rocm/hiptensorflow:rocm1.7.2

[2018-05-03 20:26] whchung commented on #21
@boxerab I do suspect your ROCm or TensorFlow installation is somehow corrupted. Please first make sure `rocm-dkms` package installed in the bare metal is 1.7.148, and try the 1.7.2 container from @sunway513 above.

[2018-05-03 22:36] boxerab commented on #21
Thanks. This script uses UI components like Tk, so can't run on docker.

[2018-05-03 22:38] boxerab commented on #21
As for `rocm-dkms` :

Package: rocm-dkms
Version: 1.7.148
Priority: optional
Section: devel
Maintainer: Advanced Micro Devices Inc.
Installed-Size: 13.3 kB
Depends: rocm-dev, compute-firmware, rock-dkms
Homepage: https://github.com/RadeonOpenCompute/ROCm
Download-Size: 1,012 B
APT-Manual-Installed: yes
APT-Sources: http://repo.radeon.com/rocm/apt/debian xenial/main amd64 Packages
Description: Rade

[2018-05-06 14:09] eigenwillig opened #57 "Create PKGBUILD"
Please create a PKGBUILD for ArchLinux. See https://aur.archlinux.org/

[2018-05-06 14:30] whchung commented on #57
@eigenwillig Thanks for your suggestion. Currently ROCm platform is supported only on the following distros:
- Ubuntu
- CentOS
- RHEL

It would be much desirable if we can seek contribution from the community for a prototype and get the discussion going.

[2018-05-07 07:10] odellus opened #58 "Error building for Python 3 - wrong checksums"
So I've installed bazel 0.13.0 through their .deb file on Ubuntu 16.04 with ROCm installed. I follow the instructions in `build_python3` to configure (just run through and press enter) and afterwards run:
`bazel build --config=opt --config=rocm //tensorflow/tools/pip_package:build_pip_package --verbose_failures`
which gives me a checksum error back.
[code]

[2018-05-07 13:33] jpaos commented on #23
@mauriciobreternitz
@whchung

We tried the latest version of ROCm 1.7.2 and the problem persists. I finally managed to get a backtrace of the execution of cifar10 inside a jupyter notebook (thanks to Mauricio):
[code]

We then tried to uninstall everything and reinstall from scratch. However, when executing some of the steps to upgrade
[code]
we got into this error:

[code]

We thought it was rela

[2018-05-07 13:40] whchung commented on #58
@odellus Please use `bazel` 0.4.5. TensorFlow 1.3 can't be used on newer versions of `bazel`.

[2018-05-07 13:40] #58 closed

[2018-05-07 13:42] whchung commented on #23
@jpaos From the stacktrace you are still using TensorFlow linked with `libunwind`. Please refer to my comment at #21 to make sure everything is in place:

make sure we are using ROCm 1.7.2:

apt show rocm-dkms

should give us 1.7.148

make sure we are using TensorFlow PIP package built for ROCm 1.7.2:

$ md5sum tensorflow-1.3.0-cp35-cp35m-linux_x86_64.whl
f189b887952647db07a7458ea550ca20 tensorflo

[2018-05-07 13:44] #51 closed

[2018-05-07 13:44] whchung commented on #51
Closing this issue as new PIP whl packages were published built with `-march=haswell` which is the minimum supported CPU arch for ROCm.

[2018-05-07 13:45] whchung commented on #41
Closing this issue as the new PIP whl packages were published last week.

[2018-05-07 13:45] #41 closed

[2018-05-07 13:55] whchung commented on #58
Please refer to https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/rocm_docs/tensorflow-build-from-source.md#install-bazel for steps to get proper `bazel`

[2018-05-07 18:49] odellus commented on #58
Okay will do many thanks!

[2018-05-07 18:51] whchung commented on #58
A side note, in https://github.com/ROCmSoftwarePlatform/tensorflow-upstream where an ongoing effort to bring up TensorFlow 1.8+ onto ROCm platform we are using `bazel` 0.12.0. I haven't tried 0.13.0 yet.

[2018-05-07 18:55] odellus commented on #58
I'll take a look at this. Thanks again! :smile:

[2018-05-10 17:50] Aldrog commented on #57
There're several PKGPUILDs for ROCm published on AUR (e.g. https://aur.archlinux.org/packages/hcc/).
I personally only build ROCk kernel and then use ROCm docker containers.

[2018-05-12 13:39] briansp2020 commented on #31
ROCm 1.8 is out. Is HSA_ENABLE_SDMA=0 still required? What does SDMA do? Would it increase performance if working properly?

[2018-05-12 17:59] whchung commented on #31
Unfortunately SDMA issue won’t be resolved until ROCm 1.9.

[2018-05-15 18:10] reger-men opened #61 "Multi GPUs supporting"
Hello,

I tried to run the tutorial example of tensorflow  [cifar10](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10/cifar10_multi_gpu_train.py)
with batch_size = 6048 on P47 machine with 4 GPUs MI25 (16Gb x 4). The training doestt start and I got the error below:
`2018-05-15 19:38:29.177804: F tensorflow/stream_executor/rocm/rocm_dnn.cc:1603] Check failed: status == miope

[2018-05-16 14:35] whchung commented on #61
@parallelo could you help take a look at this before @7SK steps in. we run mGPU training all the time.

[2018-05-18 13:37] xyang2013 opened #62 "PyTorch and OpenAI supports"
Hi, I know I raised this issue before. I have been working on an RNN problem for a while. I think with Tensorflow, it can be hard to modify network architectures sometimes. In comparison, PyTorch seems to be easier to complete such tasks. I think Tensorflow is good for production use, e.g. distributed training (with kubernetes etc). But for prototyping, I think PyTorch is better suited (e.g. easie

[2018-05-18 13:55] briansp2020 commented on #62
Have you tried https://github.com/wsttiger/pytorch/commits/sending_pr?
I don't have Vega. So, I don't know how functional it is...

[2018-05-18 14:33] whchung commented on #35
SDMA engine issue should be resolved by ROCm 1.9.

[2018-05-18 14:35] whchung commented on #62
/cc @petrex for awareness

To my understanding ROCm port of PyTorch and Caffe2 are already in the process of upstreaming and since upstream PyTorch and Caffe2 have been merged into a single project we've been working with our partner to do the same on ROCm platform. I'd like to invite @petrex to weigh in.

[2018-05-18 17:28] rjfnobre opened #63 "When tensorflow 1.4.1 or above?"
First of all, congratulations for you excellent work!

From what I understood, your version is based on tensorflow 1.3.

Are you planing to migrate to a more recent version? When?

Regards

[2018-05-18 17:39] whchung commented on #63
Please check https://github.com/ROCmSoftwarePlatform/tensorflow-upstream

develop-upstream branch contains port to ROCm to TF 1.8+. It is still under development but is already functional. We are doing more testing now and would deprecate the current repository after we feel more comfortable about the new version

[2018-05-18 17:54] briansp2020 commented on #63
@whchung What milestones do you need to hit before you release 1.8+ whl built from that branch? Do you see it happening by the time ROCm 1.9 is released?

[2018-05-18 18:08] whchung commented on #63
We’ll release TF 1.8 ROCm whl after:

- polish patches to Eigen
- integrate rocPRIM which is a functional equivalent for CUB
- pass tests we’ve collected thus far
- works with upcoming ASICs

The release would happen prior to ROCm 1.9 so it’s possible to use it with ROCm 1.8.0 or 1.7.2. Most likely it’ll be aligned with ROCm 1.8.1 where we address a few perf issues encountered in ROCm 1.8.0

[2018-05-18 22:31] parallelo commented on #61
Closing for now, but please re-open if you have questions/comments/concerns.

[2018-05-18 22:31] #61 closed

[2018-05-18 23:59] petrex commented on #62
@xyang2013 Pytoch 1.0 is coming with native Vega support. Stay tuned.
Theoretically, you can do anything with your Vega FE.

[2018-05-19 00:34] aurotripathy opened #64 "NaN Losses After Five Training Steps"
The BiDirectonal Attention Flow (BiDAF) NN applied to the SQuAD dataset is part of DawnBench, a  NN training benchmrk.

I'm following the training step verbatim as documented in the README.
`[](https://github.com/stanford-futuredata/dawn-bench-models/tree/master/tensorflow/SQuAD)`

My system is a single Frontier card, stack is TF1.3/ROCm 1.8/Python3.

**Issue**
I get NaNs losses within the first f

[2018-05-19 03:47] whchung commented on #64
Based on the information thus far I'm leaning toward believing the issue has nothing to do with perf regression we experienced in ROCm 1.8.0, and should be a bad kernel implementation.

@7SK please help reproduce the issue on your Monday.

@aurotripathy / @7SK
Please help collect the list of kernels executed with:

[code]

[2018-05-19 04:36] whchung commented on #64
@aurotripathy Please also help supply `md5sum` of TensorFlow PIP whl package you used to help me understand which commit # you are using.

[2018-05-20 21:47] aurotripathy commented on #64
List of kernels used (in first six iterations) attached
[kernel.log](https://github.com/ROCmSoftwarePlatform/tensorflow/files/2020731/kernel.log)

[2018-05-20 22:12] aurotripathy commented on #64
I'm using the **Python3** wheel from http://repo.radeon.com/rocm/misc/tensorflow/

[code]

[2018-05-21 08:54] 7SK commented on #64
Thanks @aurotripathy , I'm able to reproduce the issue

[2018-05-21 18:57] aurotripathy commented on #64
Hi Jack/Sandeep:

Made the following one-line change in basic/trainer.py, in class MultiGPUTrainer, __init__ function

            # with tf.name_scope("grads_{}".format(gpu_idx)), tf.device("/{}:{}".format(config.device_type, gpu_idx)):
            with tf.name_scope("grads_{}".format(gpu_idx)), tf.device("/cpu:0"):

*No more NaNs* and loss behavior seems OK; headed down

But I got the following

[2018-05-21 19:00] whchung commented on #64
@aurotripathy you can use `tf.Session(tf.ConfigProto(log_device_placement=True))` to give you the result of device placement. With your change to the model I'd imagine most of the fwd ops are still on GPU.

[2018-05-21 19:03] aurotripathy commented on #64
Log of CPU allocations
[code]

[2018-05-21 19:09] whchung commented on #64
@aurotripathy In the log we can see `running auto-tune for Convolve` this means fwd convolution is still executed on GPU thru `MIOpen`. I'm trying to reproduce the issue now.

[2018-05-22 03:59] briansp2020 commented on #31
Tried the latest shapes demo using GPUeater Vega FE ROCm1.8+tensowflow1.3 image and I'm getting errors.
https://gist.github.com/briansp2020/4d2a0b53bdd422ab2259016dd4f438ce

@whchung did it work for you? There has been some updates to Mask_RCNN code and I'm using the latest. But I don't think there are changes that would cause issues. The same code runs on my home machine using tensorflow 1.8 on G

[2018-05-22 13:57] whchung commented on #62
Closing this ticket. @xyang2013 feel free to re-open it when you see fit.

[2018-05-22 13:57] #62 closed

[2018-05-22 13:58] whchung commented on #63
Closing the ticket hereby.

[2018-05-22 13:58] #63 closed

[2018-05-22 14:05] whchung commented on #31
/cc @parallelo for awareness

@briansp2020 we can run networks such as Mask RCNN, YOLO v3, PSPNET properly on TensorFlow 1.3 + ROCm `1.7.2`, under the premise that `HSA_ENABLE_SDMA=0` is set. They work fine either executed directly from python, or within jupyter notebook.

That said, I haven't personally tested ROCm `1.8`. Test coverage for ROCm releases doesn't cover Mask RCNN yet.

[2018-05-22 14:17] briansp2020 commented on #31
It worked on ROCm 1.7.2 + TF 1.3 as I reported previously. I think ROCm 1.8 + TF 1.3 broke it. Then again, for ROCm 1.8, I used GPUeater default image where as for 1.7.2, I updated their 1.7.1 set up manually myself.

I did set HSA_ENABLE_SDMA=0. If someone from ROCm team can double check, I'd appreciate it.
Thanks!

[2018-05-22 15:23] parallelo commented on #31
I don't recall seeing any new memory access fault-related regressions in 1.8.  But like Jack mentioned, we haven't started testing Mask RCNN regularly yet.

Regarding SDMA, I believe there will be some upcoming ROCr fixes related to the atomic path for SDMA.  The associated problem was an infrequent random hang with hipCaffe; so, the symptom seems different than reported in this ticket.

[2018-05-22 20:16] whchung commented on #64
as identified by @7SK a finer tweak is in `__init__` of `MultiGPUTrainer` in `basic/trainer.py` which get rid of `nan`:

[code]

I've been trying to tweak the python model to figure out a even smaller set of change but couldn't find one good combination yet.

between good runs (no `nan) and bad runs (with `nan`) there are 42 different GPU kernels in use.

[2018-05-22 20:41] whchung commented on #31
@parallelo could weigh in, but we are getting MLperf ( https://mlperf.org/ ) integrated in the CI process and Mask RCNN is part of the benchmark.

[2018-05-22 21:51] briansp2020 commented on #31
Object detection in MLperf (https://github.com/mlperf/reference) is using Mask RCNN written in Caffe2.

[2018-05-23 03:23] briansp2020 commented on #31
It looks like GPUeater has old tensorflow. I uninstalled and install from http://repo.radeon.com/rocm/misc/tensorflow/tensorflow-1.3.0-cp35-cp35m-linux_x86_64.whl

[2018-05-23 23:35] isaac-rstor opened #67 "new wheel throws "not a supported wheel on this platform.""
OS:  Ubuntu 16.04; also tested inside a singularity containter
TF install attempted from new wheels (http://repo.radeon.com/rocm/misc/tensorflow/tensorflow-1.3.0-cp27-cp27m-manylinux1_x86_64.whl)
Python: Python 2.7.12, 2.7.14
Pip: 9.0.3, 10.0.1

### Describe the problem
New wheel rejected due to error:
tensorflow-1.3.0-cp27-cp27m-manylinux1_x86_64.whl is not a supported wheel on this platform.

Ad

[2018-05-24 00:43] isaac-rstor commented on #67
provisional solution:  rename the wheel file to tensorflow-1.3.0-cp27-cp27mu-linux_x86_64.whl

[2018-05-24 01:48] parallelo commented on #67
Thanks for the heads-up -- much appreciated.  We switched over to using `tensorflow/tools/ci_build/builds/pip.sh`, so the whl names have changed.  The python2 whl doesn't currently work, but the python3 whl does.

We'll get it fixed soon on repo.radeon.com.  We'll be updating with this (note the `cp27mu` vs `cp27u`):
[code]

[2018-05-24 14:47] parallelo commented on #67
All set.  Uploaded a new whl this morning.
[code]
Closing the ticket.  Please feel free to re-open if there continues to be challenges.  Thanks again for letting us know about the issue.

[2018-05-24 14:47] #67 closed

[2018-05-24 22:48] whchung commented on #64
According to finding from @7SK changing `batch_size` to `10` get around the issue with reasonable performance. The issue still needs to be better investigated as it might be related to #48 .

[2018-05-27 06:48] odellus opened #68 "Segfaults when running QANet"
I'm opening this up bc I was told to at
https://github.com/ROCmSoftwarePlatform/MIOpen/issues/41

I'm using tensorflow-upstream which doesn't have an issues tab so here I am. Only opened the ticket with MIOpen bc the error message comes from MIOpen.

I'm trying to run QANet
https://github.com/NLPLearn/QANet

With tensorflow version rocm-1.7.2 built with bazel 0.10.0 from develop-upstream branch.

[2018-05-28 03:14] parallelo commented on #68
Thanks for providing the logs.  These are useful because they tell us which kernels were the last ones to launch before the GPU's memory access fault.  Here are some kernels we'll be investigating:
[code]

We'll try to reproduce this failure with `tensorflow-upstream` using the current public ROCm release (v1.8.0).

[2018-05-28 03:28] odellus commented on #68
I've got some triaging to do on my end will open it back up if it becomes clear I should do so. Thank you!

[2018-05-28 04:35] parallelo commented on #68
Quick update:  Just kicked off some QANet training.  Will let it run for a while and see what happens.

[2018-05-28 05:08] parallelo commented on #68
On our side, the training is still running successfully.  We'll try to let it run during the rest of the long weekend.

In the meantime, would you be able to confirm whether your system is able to run a few of these simple examples from our quickstart doc?  (this'll help us understand if your system setup is in good shape or not)
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/dev

[2018-05-28 06:10] odellus commented on #68
I rebuilt tensorflow-upstream with bazel-0.13.0 because I had been using 0.10.0, thought that might fix it. I also changed the opt flag when running ./configure because I don't have a haswell. Ended up using `-march=x86-64` because it wasn't hearing any `znver1` business. Other than that and version/location of python everything is default config (just pressed enter).

I also wanted to try it out

[2018-05-29 16:33] parallelo commented on #68
Update after the long weekend:  the training is still running without any errors.  Tested on ROCm 1.8.0 with a 16GB MI-25.

A good next step for you would be to upgrade to the current public ROCm release (1.8.0).  See if that changes the behavior.  If that still doesn't work, I'll see if I can reproduce on a 8GB GPU.

Try something like this:
[code]

[2018-05-29 16:48] parallelo commented on #68
Interestingly, your last log showed a _different_ point of failure from your earlier logs.  Here's what I'm referring to:
[code]
Note the `Asm` in the kernel name, which implies hand-written assembly in MIOpen.  This may be important, and we'll keep our eyes on it.

Some follow-up questions:
- Are you are running on a Fiji (gfx803) or Vega (gfx900)?
- Is this last result repeatable?  i.e. do you a

[2018-05-29 17:06] dagamayank commented on #68
@parallelo @odellus - are you both using the *same* versions of TensorFlow? Seems like @odellus is on `tensorflow-upstream` but this discussion is on this repo which is NOT the `tensorflow-upstream` repo.

@odellus - can you please confirm which TF version are you seeing this error in?

[2018-05-29 20:37] odellus commented on #68
I'm using version 1.8.0-rc1 of develop-upstream branch of tensorflow-upstream on a gfx803. Sorry to crowd your issues here in the stable version, but wyd?

I should have mentioned that I varied the batch size to get the different behavior. I bumped it back up to the original 32 from the 8 I was using earlier for that last report on QANet's behavior. With batch size of 32 I get repeatable behavior.

[2018-05-29 20:53] odellus commented on #68
yeah I've been digging through MIOpen bc I'm trying to add 3D convolutions (so I need to know how 2D convolutions are done in framework first) and I saw all these *.s files and I was like "what are these?" googled it and it's assembly hahaha. First time I've ever actually read through an assembly file.

[2018-05-29 23:35] odellus commented on #68
I can't find `compute-firmware` in the sources and I have rocm.list where it's supposed to be in /etc/...

Reinstalled rocm, pulled and rebuilt MIOpen on rocm 1.8, all tests passing. QANet gives same error in `sp3AsmConvRxSU` for batch size 32 and `miog_betac_alphaab` for batch size 16.

Should I try to build MIOpen with OpenCL backend maybe you think? Because I seem to be having some trouble with

[2018-05-29 23:52] parallelo commented on #68
Sorry about the wrong instructions -- they have been updated above.  `compute-firmware` no longer exists as a separate package in 1.8.0 -- please purge that one.

The next step will probably be on our side.  We'll have to try on a `gfx803` to see if we can reproduce the failure there.  If we also see the failure, then we'll be looking closely at the `sp3AsmConvRxSU`'s assembly code for `gfx803`.

[2018-06-02 21:21] odellus opened #71 "tensorflow fails to link"
Bazel-0.4.5 is failing to build rocm-tensorflow with the following errors:
[code]
a more complete version of where bazel is failing is below.
https://gist.github.com/odellus/098352d2fb0363e52549ad29e026d97a

I'm using ubuntu 16.04, rocm is latest version (fresh reinstalled earlier this week), fresh pull of tensorflow.

Saw it suggested in tensorflow issues this could be caused by the machine runni

[2018-06-05 08:03] repletetop commented on #31
Thanks @whchung , 我更换了N卡

[2018-06-05 08:03] #31 closed

[2018-06-06 00:35] Mandrewoid opened #76 "Wheels are 404"
http://repo.radeon.com/rocm/misc/tensorflow/tensorflow-1.3.0-cp35-cp35m-linux_x86_64.whl returns 404.
Same for the python 2 version.

[2018-06-06 00:50] briansp2020 commented on #76
http://repo.radeon.com/rocm/misc/tensorflow/tensorflow-1.3.0-cp27-cp27mu-manylinux1_x86_64.whl
http://repo.radeon.com/rocm/misc/tensorflow/tensorflow-1.3.0-cp35-cp35m-manylinux1_x86_64.whl

[2018-06-06 04:37] parallelo commented on #76
Thanks for letting us know.  There were some changes recently (as @briansp2020 correctly pointed out)

We updated the installation instructions to reflect the new names.  We recently switched to tensorflow's `ci_build` method of creating the whl files, and those have slightly different names.
https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/rocm_docs/tensorflow-install-basic.md#inst

[2018-06-06 04:37] #76 closed

[2018-06-06 22:53] doody1986 opened #77 "Training hung with GUI reboot"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source
- **TensorFlow version (use command below)**:
The latest code from branch rocm-v1
- **Python version**:
Python 2.7.12
- **Bazel ver

[2018-06-06 23:02] gstoner commented on #77
@doody1986

Did you do this yet.

If you Plan to Run with X11 - we are seeing X freezes under load

ROCm 1.8.1 a kernel parameter noretry has been set to 1 to improve overall system performance. However it has been proven to bring instability to graphics driver shipped with Ubuntu. This is an ongoing issue and we are looking into it.

Before that, please try apply this change by changing noretry b

[2018-06-06 23:11] doody1986 commented on #77
@gstoner

It works! Thanks very much!

[2018-06-06 23:15] doody1986 commented on #77
Close this issue as the solution works.

[2018-06-06 23:15] #77 closed

[2018-06-08 16:27] reger-men commented on #61
now Iam able to run the training "on multi_gpus", but as you can see, there is no profit from multi gpu mode. The number of examples per second remains the same in both cases (with only 1 GPU and with 4 GPUs).

`root@38ac92e3b76c:/root# python models/tutorials/image/cifar10/cifar10_multi_gpu_train.py --num_gpus=1 --batch_size=5000`
![pastedimage](https://user-images.githubusercontent.com/8779942/4

[2018-06-08 16:57] whchung commented on #61
In ROCm 1.8.0 there is a perf regression caused in HIP runtime and a fix was merged in recently ( https://github.com/ROCm-Developer-Tools/HIP/pull/491 ). Please expect it be adopted in ROCm 1.8.2 release.

[2018-07-02 13:47] lukeiwanski opened #81 "How to profile a ML model?"
Hello,

I am looking at TF benchmarks following these instructions: https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/rocm_docs/tensorflow-quickstart.md#tensorflows-tf_cnn_benchmarks

What I am trying to do is to use the `--trace_file` option in order to generate json that I can then load into Chrome to check TF execution timeline. The output of `rcprof` on its own is too noisy for b

[2018-07-03 10:19] lukeiwanski commented on #81
Hi Ben,

Thanks for the reply.
`HCC_SERIALIZE_KERNEL=3` sounds like something I want to do.
I will give it a go.

Closing.

[2018-07-03 10:19] #81 closed

[2018-07-14 07:00] hunterfred opened #82 "exiting python causes hang"
Hi,
I was trying to train LeNet on some image samples, it runs successfully till end, but when I was trying to train it again with some other parameters (restart kernel), jupyter notebook stuck at the training code cell.

Tried: open another terminal run:
[code]
then the terminal will hang

I'm suspecting that the tensorflow using gpu never release the gpu upon exit, then if second run is needed,

[2018-07-14 16:15] sunway513 commented on #82
Hi @hunterfred , thanks for reporting the issue!
I've tried to repro your issue in my local dev node, but things were working fine:

- In terminal 1, run TF benchmarks that utilize all GPU resources
- In terminal 2, run python3 command "import tensorflow as tf"

On my node, terminal 2 loads tensorflow environment successfully without any hang.

To further triaging your issue, could you provide the

[2018-07-14 16:35] hunterfred commented on #82
Thanks for the quick reply! Could you try to exit() the first python instance?  I met some problem when trying to quit one TF instance, I will definitely retry again later today.

Thanks again!

[2018-07-14 17:02] sunway513 commented on #82
Hi, I've tried to exit() the first instance, no issue.
I'm suspecting your training session caused the GPU to hang (either due to thermal or PSU), therefore your system was in a bad state. Dmesg can provide more hints.

[2018-07-14 21:01] hunterfred commented on #82
hi,
Here are the steps i did:
run python3.5; import tf; let tf run a constant(just test if it uses GPU); exit()
[dmesg.log](https://github.com/ROCmSoftwarePlatform/tensorflow/files/2195257/dmesg.log)
Here is the log after it hangs at exit()
seems like it does have some trouble restoring some state.
Then I tried: open another terminal; run python3.5; import tf;
then this terminal hangs as well,
her

[2018-07-26 03:38] uakfdotb opened #85 "Link to tensorflow-upstream in github project description"
In addition to linking to https://github.com/ROCmSoftwarePlatform/tensorflow-upstream in README it would be good to link in the project description (currently "(DEPRECATED) TensorFlow 1.3.0 ROCm port"), otherwise at first glance it seems the project is just deprecated with no replacement.

[2018-07-26 11:49] dagamayank commented on #85
Thank @uakfdotb. Done.

[2018-07-26 11:49] #85 closed

[2018-08-19 14:46] gshashank84 opened #86 "Error in running tensorflow 1.8 on running tf.Session()"
On installing the Rocm-dkms and installing the tensorflow 1.8 wheel as provided, i am having this problem when i run this
[code]
Ubuntu
Python 3.5.0
AMD GPU 550

[2018-08-20 15:02] sunway513 commented on #86
Hi @gshashank84 , could you provide the following logs:
`lsmod | grep kfd`
`uname -a`
`apt --installed list | grep rock`

Most likely your system is not properly configured with rock-dkms package.

[2018-08-28 10:34] leilegelei1 opened #87 "terminate called after throwing an instance of 'ihipException' what():"
It was running great earlier but from yesterday when I run my code I get

**terminate called after throwing an instance of 'ihipException' what():** std::exception Aborted (core dumped)

I tried uninstalling and again installing, but I did not resolve the problem. And i even reinstalled the ubuntu 16.04 but it did not works....

[2018-08-28 10:36] leilegelei1 commented on #87
And it seems that the problem is not only happed on me.  I have seen a same problem in the stack overflow that was opened in two days ago

[2018-08-28 14:57] whchung commented on #87
@leilegelei1 since you were able to run TensorFlow on ROCm properly before and the issue just happened from 1 day ago, I suspect you might be bumping into the same issue at:

https://github.com/RadeonOpenCompute/ROCm/issues/510

please try downgrade kernel 4.15.0-30

[2018-08-29 04:17] leilegelei1 commented on #87
@whchung
Thank you for your advice.  I try to downgrade the kernel into 4.15.0-30 but it dose not works.

[2018-09-01 11:50] gshashank84 commented on #87
I installed all the rocm rock-dkms with the tensorflow wheel for amd today, but i am also getting the same error in executing the command of tensorflow
[code]

[2018-09-01 11:53] gshashank84 commented on #86
[code]

[2018-09-01 12:57] whchung commented on #86
From your log “Inspiron 5570” it suggests you might be running on an unsupported system.

Please help check if your CPU/MB/GPU is on supported list at:

https://github.com/RadeonOpenCompute/ROCm/blob/master/README.md

Also please compile and run vector_copy sanity check under /opt/rocm/hsa/sample to determine if your ROCm installation functions properly.

[2018-09-01 14:06] whchung commented on #86
R7 M series is not supported on ROCm unfortunately.

[2018-09-01 16:37] gshashank84 commented on #86
Thanks for reaching out! I have request for providing the support for R7 M series AMD gpu in ROCm platform. I am really waiting for this and I appreciate you all for doing such a great work.

[2018-09-01 16:45] whchung commented on #86
We are working on technologies in runtime/kernel to enable HIP-based applications such as TensorFlow run on non-ROCm systems where PCIe Gen3 Atomic may not exist. Please stay tuned.

On the other hand, R7 employs older GCN ISA versions so unfortunately it may still not be on supported hardware configuration shall such technologies be validated and released.

[2018-09-09 10:39] computingdolas opened #88 "CIFAR Benchmark - Multi-GPU Training on Tensorflow - bad scaling"
python cifar10_multi_gpu_train.py --num_gpus=4 --batch_size=512 --data_dir=/root/data/

and

python cifar10_multi_gpu_train.py --num_gpus=1 --batch_size=512 --data_dir=/root/data/

gives me almost same result. I saw the issue here **Multi GPUs supporting #61** and concluded that issue would be resolved on release 1.8.2. Right now I have rocm-kernel 1.8.199, is it sill not there ?

[2018-09-09 10:57] computingdolas commented on #88
I recently did ./hipBusBandwidth --p2p and

for gpu#0 Device 6860
    peer2peer supported : gpu#1 gpu#2 gpu#3
    peer2peer not supported : NONE

for gpu#1 Device 6860
    peer2peer supported : gpu#0 gpu#2 gpu#3
    peer2peer not supported : NONE

for gpu#2 Device 6860
    peer2peer supported : gpu#0 gpu#1 gpu#3
    peer2peer not supported : NONE

for gpu#3 Device 6860
    peer2peer supported : gp

[2018-09-09 11:02] computingdolas commented on #61
Try this ./hipBusBandwidth --p2p to see if your system supports it ?

[2018-09-16 21:00] jlgreathouse commented on #35
ROCm 1.9 was released last Friday. I would be interested to have verification from the OP that this is fixed.

[2018-09-18 20:55] alexja14 opened #89 "Can't install Tensorflow 1.8 on Ubuntu 18.04"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-09-18 21:03] parallelo commented on #89
Which version of ROCm are you using?  If you are still on ROCm 1.8.x, you can try our WHLs that exist on PyPI:
[code]

However, note that we'll be upgrading PyPI today/tomorrow to WHLs that were built with ROCm 1.9.

[2018-09-19 17:56] alexja14 commented on #89
hei i'm still having problems to install tensorflow 1.8. im on rocm 1.9.. do u have a link where i can follow a tutorial ? i used rocm tensorflow blog for the installation tutorial.

[2018-09-20 01:45] parallelo commented on #89
This [PR](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/pull/171) has the most recent info regarding TF installation on ROCm via PyPI.  Otherwise, you can use the whl file that was referenced in the other Issue you opened in the ROCm project.

PS - Please note that this `ROCmSoftwarePlatform/tensorflow` repo has been deprecated.  Current development (and developer attention) has move

[2018-09-22 07:10] alexja14 commented on #89
hei i'm still trying to install it .. in the tutorial it says to go to to this link: https://www.tensorflow.org/install/ ...but here i can't find anything about rockm .. with tensorflow -gpu they support only nvidia.. or im wrong ?

[2018-11-11 17:15] abhiTronix opened #90 "GPU not supported?"
### System information
- **OS Platform and Distribution**:  Linux Ubuntu 18.04 LTS
- **TensorFlow installed**:  from binary
- **TensorFlow version**: merge-180917-prev-912-g174d355 1.11.0
- **Python version**: 3.6.6
- **GPU model and memory**: AMD A10-8700P Radeon R6/R7 with Rocm Stack installed/enabled.

### Problem
``` 2018-11-11 22:30:37.207580: I tensorflow/core/common_runtime/gpu/gpu_device.c

[2018-11-19 10:44] keerthanss commented on #87
Hi, I'm facing the same error too. It worked fine for several runs and then for no reason, it stopped working and consistently throws the exception mentioned above. I too have tried uninstalling and reinstalling rocm and tensorflow-rocm, but to no avail.
Version details -
ROCm : 1.9.1
Tensorflow-rocm: 1.11.0
OS: Ubuntu 18.04
Kernel: **4.15.0-39**
In the linked issue, they speak of kernel version 4

[2018-11-24 22:39] nazarpechka commented on #87
i have kernel 4.10.17 and same error

[2018-11-25 01:11] sunway513 commented on #87
@keerthanss , could you try cold reboot your system and make sure your node is in good cooling condition?
From what you've described it seems the GPUs got overheated and become invisible to the system; typically that can be recovered with a code reboot (power off and wait for 10mins before power it back on). Besides, a copy of your demsg would be helpful, you can collect that with `dmesg &> ~/dmes

[2018-11-25 01:13] sunway513 commented on #87
@nazarpechka , ROCm is tested with 4.13 kernels and newer, could you try to upgrade your base kernel builds, e.g.:
```sudo apt update && sudo apt install linux-headers-4.13.0-45-generic linux-image-4.13.0-45-generic linux-image-extra-4.13.0-45-generic linux-signed-image-4.13.0-45-generic && sudo update-initramfs -u -k all```

[2018-12-03 05:04] keerthanss commented on #87
@sunway513 Hi, thanks for the response. Yes, the system is in good condition and I tried the cold reboot as you suggested. I still face the same error. It turns out that somehow the KFD has been uninstalled, and no amount of reinstalling is able to bring it back.

Running /opt/rocm/bin/rocminfo yields:
hsa api call failure at line 900, file: /home/jenkins/jenkins-root/workspace/compute-rocm-rel-1.

[2018-12-03 05:06] keerthanss commented on #87
@sunway513 Hi, thanks for the response. Yes, the system is in good condition and I tried the cold reboot as you suggested. I still face the same error. It turns out that somehow the KFD has been uninstalled, and no amount of reinstalling is able to bring it back.

Running /opt/rocm/bin/rocminfo yields:
hsa api call failure at line 900, file: /home/.../workspace/compute-rocm-rel-1.9/rocminfo/rocmin

[2019-01-23 15:32] Dekken commented on #35
[code]

runs, but doesn't "work"

[2019-01-24 10:10] fendiwira commented on #68
Hello,

Is there any update for this issue?

I have similiar issue with below mentioned details:

**Issue :**
While executing Tensorflow code on ROCm platform we are facing seg fault

**Error:**
Memory access fault by GPU node-1 on address ..... Reason: Page not present or supervisor privilege.

**Link Code**
https://github.com/pierluigiferrari/ssd_keras

**Environment info:**
    Operating System

[2019-01-28 16:51] parallelo commented on #68
Hi @fendiwira.  Thanks for the issue report -- this issue looks like a new one.  Can you please open a new issue under our current `ROCmSoftwarePlatform/tensorflow-upstream` repo?  (https://github.com/ROCmSoftwarePlatform/tensorflow-upstream)  Our development team is active over there.  (The `ROCmSoftwarePlatform/tensorflow` repo has been deprecated)

[2019-01-28 17:23] parallelo commented on #35
Hi @Dekken,

Thanks for reporting this.  My initial guess is that this is related to some re-shuffling of modules in newer versions of TF.  (i.e. `tf.contrib.data.Dataset` -> `tf.data.Dataset` -- https://www.tensorflow.org/api_docs/python/tf/data/Dataset)

If you are still hitting issues with this, can you please open a new issue under our active `ROCmSoftwarePlatform/tensorflow-upstream` repo? (h